# SPDX-FileCopyrightText: 2022 CERN (home.cern)
#
# SPDX-License-Identifier: LGPL-2.1-or-later

*.o
*.a
*.so
*.ko
*.mod*
.*cmd
*.o.d
*.tmp*
*.swp
.tmp_versions
modules.order
Module.symvers
\#*
*~
GTAGS
GPATH
GRTAGS
Makefile.specific
compile_commands.json
.clangd
cscope*
