NET "vme_write_n" LOC = R1;
NET "vme_sysreset_n" LOC = P4;
NET "vme_sysclk" LOC = P3;
NET "vme_retry_oe" LOC = R4;
NET "vme_retry_n" LOC = AB2;
NET "vme_lword_n" LOC = M7;
NET "vme_iackout_n" LOC = N3;
NET "vme_iackin_n" LOC = P7;
NET "vme_iack_n" LOC = N1;
NET "vme_gap" LOC = M6;
NET "vme_dtack_oe" LOC = T1;
NET "vme_dtack_n" LOC = R5;
NET "vme_ds2_n" LOC = Y7;
NET "vme_ds1_n" LOC = Y6;
NET "vme_d_oe_n" LOC = P1;
NET "vme_d_dir" LOC = P2;
NET "vme_berr" LOC = R3;
NET "vme_as_n" LOC = P6;
NET "vme_a_oe_n" LOC = N4;
NET "vme_a_dir" LOC = N5;
NET "rst_n" LOC = AD28;
NET "pushbutton" LOC = P24;
NET "2v5_afpga_cclk" LOC = AJ26;
NET "2v5_afpga_cso_b" LOC = AK6;
NET "2v5_afpga_init_b" LOC = AJ6;
NET "2v5_afpga_miso" LOC = AJ25;
NET "2v5_afpga_mosi" LOC = AK25;
NET "2v5_afpga_program" LOC = AB8;
NET "afpga_done" LOC = AD25;
NET "afpga_m0" LOC = AK26;
NET "afpga_m1" LOC = AG24;
NET "clk20_vcxo" LOC = V26;
NET "fmc1_prsntm2c_n" LOC = N30;
NET "fmc1_scl" LOC = P28;
NET "fmc1_sda" LOC = P30;
NET "fmc1_tck" LOC = AJ30;
NET "fmc1_tdi" LOC = AG30;
NET "fmc1_tdo" LOC = AF30;
NET "fmc1_tms" LOC = AE25;
NET "fmc2_prsntm2c_n" LOC = AE29;
NET "fmc2_scl" LOC = W29;
NET "fmc2_sda" LOC = V30;
NET "fmc2_tck" LOC = AH30;
NET "fmc2_tdi" LOC = AK29;
NET "fmc2_tdo" LOC = AG29;
NET "fmc2_tms" LOC = AJ29;
NET "fpga_clk_n" LOC = AB30;
NET "fpga_clk_p" LOC = AB28;
NET "fpgpio1_a2b" LOC = R29;
NET "fpgpio2_a2b" LOC = T30;
NET "fpgpio34_a2b" LOC = V28;
NET "io7" LOC = U30;
NET "noga0" LOC = AE26;
NET "noga1" LOC = P23;
NET "noga2" LOC = Y24;
NET "noga3" LOC = Y23;
NET "noga4" LOC = V23;
NET "oe_si57x" LOC = Y28;
NET "pll20dac_din" LOC = U28;
NET "pll20dac_sclk" LOC = AA28;
NET "pll20dac_sync_n" LOC = N28;
NET "pll25dac_din" LOC = P25;
NET "pll25dac_sclk" LOC = N27;
NET "pll25dac_sync_n" LOC = P26;
NET "pll_2afpga_n" LOC = AA1;
NET "pll_2afpga_p" LOC = AA3;
NET "scl_afpga" LOC = AC29;
NET "sda_afpga" LOC = AA30;
NET "sfprx_123_n" LOC = C22;
NET "sfprx_123_p" LOC = D22;
NET "sfptx_123_n" LOC = A23;
NET "sfptx_123_p" LOC = B23;
NET "si57x_clk_n" LOC = W28;
NET "si57x_clk_p" LOC = W27;
NET "si57x_scl" LOC = Y30;
NET "si57x_sda" LOC = AA29;
NET "si57x_tune" LOC = W30;
NET "switch0" LOC = W22;
NET "switch1" LOC = W21;
NET "uart_rxd" LOC = U27;
NET "uart_txd" LOC = U25;
NET "usb_clkout" LOC = V24;
NET "usb_oe_n" LOC = Y25;
NET "usb_rd_n" LOC = T26;
NET "usb_rxf_n" LOC = T24;
NET "usb_siwua" LOC = U24;
NET "usb_txe_n" LOC = T25;
NET "usb_wr_n" LOC = T27;
NET "usega" LOC = Y22;
NET "wr_los" LOC = W25;
NET "wr_moddef0" LOC = Y26;
NET "wr_moddef1" LOC = Y27;
NET "wr_moddef2" LOC = AA24;
NET "wr_rateselect" LOC = W24;
NET "wr_txdisable" LOC = AA25;
NET "wr_txfault" LOC = AA27;
NET "fmc2_gbtclk0m2c_p" LOC = AG18;
NET "fmc2_gbtclk0m2c_n" LOC = AH18;
NET "fmc2_dp0m2c_p" LOC = AG20;
NET "fmc2_dp0m2c_n" LOC = AH20;
NET "fmc2_dp0c2m_p" LOC = AJ21;
NET "fmc2_dp0c2m_n" LOC = AK21;
NET "fmc2_clk1m2c_p" LOC = AH16;
NET "fmc2_clk1m2c_n" LOC = AK16;
NET "fmc2_clk0m2c_p" LOC = AF16;
NET "fmc2_clk0m2c_n" LOC = AG16;
NET "fmc1_gbtclk0m2c_p" LOC = B13;
NET "fmc1_gbtclk0m2c_n" LOC = A13;
NET "fmc1_dp0m2c_p" LOC = D10;
NET "fmc1_dp0m2c_n" LOC = C10;
NET "fmc1_dp0c2m_p" LOC = B9;
NET "fmc1_dp0c2m_n" LOC = A9;
NET "fmc1_clk1m2c_p" LOC = E16;
NET "fmc1_clk1m2c_n" LOC = D16;
NET "fmc1_clk0m2c_p" LOC = H15;
NET "fmc1_clk0m2c_n" LOC = G15;
NET "vme_irq7" LOC = R7;
NET "vme_irq6" LOC = AH2;
NET "vme_irq5" LOC = AF2;
NET "vme_irq4" LOC = N9;
NET "vme_irq3" LOC = N10;
NET "vme_irq2" LOC = AH4;
NET "vme_irq1" LOC = AG4;
NET "vme_ga4" LOC = V9;
NET "vme_ga3" LOC = V10;
NET "vme_ga2" LOC = AJ1;
NET "vme_ga1" LOC = AH1;
NET "vme_ga0" LOC = V7;
NET "vme_d31" LOC = AK3;
NET "vme_d30" LOC = AH3;
NET "vme_d29" LOC = T8;
NET "vme_d28" LOC = T9;
NET "vme_d27" LOC = AK4;
NET "vme_d26" LOC = AJ4;
NET "vme_d25" LOC = W6;
NET "vme_d24" LOC = W7;
NET "vme_d23" LOC = AB6;
NET "vme_d22" LOC = AB7;
NET "vme_d21" LOC = W9;
NET "vme_d20" LOC = W10;
NET "vme_d19" LOC = AK5;
NET "vme_d18" LOC = AH5;
NET "vme_d17" LOC = AD6;
NET "vme_d16" LOC = AC6;
NET "vme_d15" LOC = AA6;
NET "vme_d14" LOC = AA7;
NET "vme_d13" LOC = T6;
NET "vme_d12" LOC = T7;
NET "vme_d11" LOC = AG5;
NET "vme_d10" LOC = AE5;
NET "vme_d9" LOC = Y11;
NET "vme_d8" LOC = W11;
NET "vme_d7" LOC = AF6;
NET "vme_d6" LOC = AE6;
NET "vme_d5" LOC = Y8;
NET "vme_d4" LOC = Y9;
NET "vme_d3" LOC = AE7;
NET "vme_d2" LOC = AD7;
NET "vme_d1" LOC = AA9;
NET "vme_d0" LOC = AA10;
NET "vme_am5" LOC = V8;
NET "vme_am4" LOC = AG3;
NET "vme_am3" LOC = AF3;
NET "vme_am2" LOC = AF4;
NET "vme_am1" LOC = AE4;
NET "vme_am0" LOC = AK2;
NET "vme_a31" LOC = T2;
NET "vme_a30" LOC = T3;
NET "vme_a29" LOC = T4;
NET "vme_a28" LOC = U1;
NET "vme_a27" LOC = U3;
NET "vme_a26" LOC = U4;
NET "vme_a25" LOC = U5;
NET "vme_a24" LOC = V1;
NET "vme_a23" LOC = V2;
NET "vme_a22" LOC = W1;
NET "vme_a21" LOC = W3;
NET "vme_a20" LOC = AA4;
NET "vme_a19" LOC = AA5;
NET "vme_a18" LOC = Y1;
NET "vme_a17" LOC = Y2;
NET "vme_a16" LOC = Y3;
NET "vme_a15" LOC = Y4;
NET "vme_a14" LOC = AC1;
NET "vme_a13" LOC = AC3;
NET "vme_a12" LOC = AD1;
NET "vme_a11" LOC = AD2;
NET "vme_a10" LOC = AB3;
NET "vme_a9" LOC = AB4;
NET "vme_a8" LOC = AD3;
NET "vme_a7" LOC = AD4;
NET "vme_a6" LOC = AC4;
NET "vme_a5" LOC = AC5;
NET "vme_a4" LOC = N7;
NET "vme_a3" LOC = N8;
NET "vme_a2" LOC = AE1;
NET "vme_a1" LOC = AE3;
NET "p2_data_p19" LOC = B7;
NET "p2_data_p18" LOC = K10;
NET "p2_data_p17" LOC = H17;
NET "p2_data_p16" LOC = F8;
NET "p2_data_p15" LOC = E7;
NET "p2_data_p14" LOC = D6;
NET "p2_data_p13" LOC = AE9;
NET "p2_data_p12" LOC = AD8;
NET "p2_data_p11" LOC = AG6;
NET "p2_data_p10" LOC = AF7;
NET "p2_data_p9" LOC = M10;
NET "p2_data_p8" LOC = L17;
NET "p2_data_p7" LOC = J8;
NET "p2_data_p6" LOC = D8;
NET "p2_data_p5" LOC = H7;
NET "p2_data_p4" LOC = F6;
NET "p2_data_p3" LOC = AH7;
NET "p2_data_p2" LOC = AB10;
NET "p2_data_p1" LOC = W12;
NET "p2_data_p0" LOC = AA11;
NET "p2_data_n19" LOC = A7;
NET "p2_data_n18" LOC = J10;
NET "p2_data_n17" LOC = G17;
NET "p2_data_n16" LOC = E8;
NET "p2_data_n15" LOC = D7;
NET "p2_data_n14" LOC = C6;
NET "p2_data_n13" LOC = AF9;
NET "p2_data_n12" LOC = AE8;
NET "p2_data_n11" LOC = AH6;
NET "p2_data_n10" LOC = AG7;
NET "p2_data_n9" LOC = L10;
NET "p2_data_n8" LOC = K17;
NET "p2_data_n7" LOC = H8;
NET "p2_data_n6" LOC = C8;
NET "p2_data_n5" LOC = G7;
NET "p2_data_n4" LOC = E6;
NET "p2_data_n3" LOC = AK7;
NET "p2_data_n2" LOC = AB9;
NET "p2_data_n1" LOC = Y12;
NET "p2_data_n0" LOC = AB11;
NET "term_en1" LOC = AB1;
NET "term_en2" LOC = W5;
NET "term_en3" LOC = W4;
NET "term_en4" LOC = V4;
NET "fp_gpio1" LOC = R30;
NET "fp_gpio2" LOC = T28;
NET "fp_gpio3" LOC = U29;
NET "fp_gpio4" LOC = V27;
NET "fp_ledn0" LOC = AD27;
NET "fp_ledn1" LOC = AD26;
NET "fp_ledn2" LOC = AC28;
NET "fp_ledn3" LOC = AC27;
NET "fp_ledn4" LOC = AE27;
NET "fp_ledn5" LOC = AE30;
NET "fp_ledn6" LOC = AF28;
NET "fp_ledn7" LOC = AE28;
NET "usb_d0" LOC = P27;
NET "usb_d1" LOC = R24;
NET "usb_d2" LOC = R25;
NET "usb_d3" LOC = R27;
NET "usb_d4" LOC = R28;
NET "usb_d5" LOC = R22;
NET "usb_d6" LOC = P22;
NET "usb_d7" LOC = R21;
NET "rsvd0" LOC = AG26;
NET "rsvd1" LOC = AH26;
NET "rsvd2" LOC = AG27;
NET "rsvd3" LOC = AH27;
NET "rsvd4" LOC = AK27;
NET "rsvd5" LOC = AG28;
NET "rsvd6" LOC = AJ28;
NET "rsvd7" LOC = AK28;
NET "fmc2_la_p33" LOC = AA19;
NET "fmc2_la_p32" LOC = W19;
NET "fmc2_la_p31" LOC = Y21;
NET "fmc2_la_p30" LOC = W20;
NET "fmc2_la_p29" LOC = AC24;
NET "fmc2_la_p28" LOC = AA22;
NET "fmc2_la_p27" LOC = AB20;
NET "fmc2_la_p26" LOC = AC19;
NET "fmc2_la_p25" LOC = AB17;
NET "fmc2_la_p24" LOC = AB21;
NET "fmc2_la_p23" LOC = AF25;
NET "fmc2_la_p22" LOC = AE24;
NET "fmc2_la_p21" LOC = AD22;
NET "fmc2_la_p20" LOC = AE19;
NET "fmc2_la_p19" LOC = AE23;
NET "fmc2_la_p18" LOC = AE21;
NET "fmc2_la_p17" LOC = AC16;
NET "fmc2_la_p16" LOC = AB14;
NET "fmc2_la_p15" LOC = Y17;
NET "fmc2_la_p14" LOC = Y15;
NET "fmc2_la_p13" LOC = AC15;
NET "fmc2_la_p12" LOC = AE15;
NET "fmc2_la_p11" LOC = Y16;
NET "fmc2_la_p10" LOC = Y14;
NET "fmc2_la_p9" LOC = W14;
NET "fmc2_la_p8" LOC = AB12;
NET "fmc2_la_p7" LOC = AD12;
NET "fmc2_la_p6" LOC = AD10;
NET "fmc2_la_p5" LOC = AE11;
NET "fmc2_la_p4" LOC = AJ15;
NET "fmc2_la_p3" LOC = AE13;
NET "fmc2_la_p2" LOC = AC11;
NET "fmc2_la_p1" LOC = AG8;
NET "fmc2_la_p0" LOC = AJ17;
NET "fmc2_la_n33" LOC = AB19;
NET "fmc2_la_n32" LOC = Y19;
NET "fmc2_la_n31" LOC = AA21;
NET "fmc2_la_n30" LOC = Y20;
NET "fmc2_la_n29" LOC = AD24;
NET "fmc2_la_n28" LOC = AC22;
NET "fmc2_la_n27" LOC = AC20;
NET "fmc2_la_n26" LOC = AD19;
NET "fmc2_la_n25" LOC = AD17;
NET "fmc2_la_n24" LOC = AC21;
NET "fmc2_la_n23" LOC = AG25;
NET "fmc2_la_n22" LOC = AF24;
NET "fmc2_la_n21" LOC = AE22;
NET "fmc2_la_n20" LOC = AF19;
NET "fmc2_la_n19" LOC = AF23;
NET "fmc2_la_n18" LOC = AF21;
NET "fmc2_la_n17" LOC = AD16;
NET "fmc2_la_n16" LOC = AC14;
NET "fmc2_la_n15" LOC = AA17;
NET "fmc2_la_n14" LOC = AA15;
NET "fmc2_la_n13" LOC = AD15;
NET "fmc2_la_n12" LOC = AF15;
NET "fmc2_la_n11" LOC = AB16;
NET "fmc2_la_n10" LOC = AA14;
NET "fmc2_la_n9" LOC = Y13;
NET "fmc2_la_n8" LOC = AC12;
NET "fmc2_la_n7" LOC = AE12;
NET "fmc2_la_n6" LOC = AE10;
NET "fmc2_la_n5" LOC = AF11;
NET "fmc2_la_n4" LOC = AK15;
NET "fmc2_la_n3" LOC = AF13;
NET "fmc2_la_n2" LOC = AD11;
NET "fmc2_la_n1" LOC = AH8;
NET "fmc2_la_n0" LOC = AK17;
NET "fmc1_la_p33" LOC = J12;
NET "fmc1_la_p32" LOC = H11;
NET "fmc1_la_p31" LOC = L11;
NET "fmc1_la_p30" LOC = J13;
NET "fmc1_la_p29" LOC = F9;
NET "fmc1_la_p28" LOC = L12;
NET "fmc1_la_p27" LOC = M13;
NET "fmc1_la_p26" LOC = L14;
NET "fmc1_la_p25" LOC = F11;
NET "fmc1_la_p24" LOC = G10;
NET "fmc1_la_p23" LOC = M15;
NET "fmc1_la_p22" LOC = F13;
NET "fmc1_la_p21" LOC = G12;
NET "fmc1_la_p20" LOC = F15;
NET "fmc1_la_p19" LOC = G14;
NET "fmc1_la_p18" LOC = J14;
NET "fmc1_la_p17" LOC = B15;
NET "fmc1_la_p16" LOC = F19;
NET "fmc1_la_p15" LOC = H16;
NET "fmc1_la_p14" LOC = F17;
NET "fmc1_la_p13" LOC = G18;
NET "fmc1_la_p12" LOC = F21;
NET "fmc1_la_p11" LOC = G20;
NET "fmc1_la_p10" LOC = L21;
NET "fmc1_la_p9" LOC = M20;
NET "fmc1_la_p8" LOC = F23;
NET "fmc1_la_p7" LOC = G22;
NET "fmc1_la_p6" LOC = B25;
NET "fmc1_la_p5" LOC = M19;
NET "fmc1_la_p4" LOC = D24;
NET "fmc1_la_p3" LOC = E25;
NET "fmc1_la_p2" LOC = J22;
NET "fmc1_la_p1" LOC = H21;
NET "fmc1_la_p0" LOC = C16;
NET "fmc1_la_n33" LOC = H12;
NET "fmc1_la_n32" LOC = G11;
NET "fmc1_la_n31" LOC = K11;
NET "fmc1_la_n30" LOC = H13;
NET "fmc1_la_n29" LOC = E9;
NET "fmc1_la_n28" LOC = K12;
NET "fmc1_la_n27" LOC = L13;
NET "fmc1_la_n26" LOC = K14;
NET "fmc1_la_n25" LOC = E11;
NET "fmc1_la_n24" LOC = F10;
NET "fmc1_la_n23" LOC = K15;
NET "fmc1_la_n22" LOC = E13;
NET "fmc1_la_n21" LOC = F12;
NET "fmc1_la_n20" LOC = E15;
NET "fmc1_la_n19" LOC = F14;
NET "fmc1_la_n18" LOC = H14;
NET "fmc1_la_n17" LOC = A15;
NET "fmc1_la_n16" LOC = E19;
NET "fmc1_la_n15" LOC = G16;
NET "fmc1_la_n14" LOC = E17;
NET "fmc1_la_n13" LOC = F18;
NET "fmc1_la_n12" LOC = E21;
NET "fmc1_la_n11" LOC = F20;
NET "fmc1_la_n10" LOC = K21;
NET "fmc1_la_n9" LOC = L20;
NET "fmc1_la_n8" LOC = E23;
NET "fmc1_la_n7" LOC = F22;
NET "fmc1_la_n6" LOC = A25;
NET "fmc1_la_n5" LOC = L19;
NET "fmc1_la_n4" LOC = C24;
NET "fmc1_la_n3" LOC = D25;
NET "fmc1_la_n2" LOC = H22;
NET "fmc1_la_n1" LOC = G21;
NET "fmc1_la_n0" LOC = A16;
NET "prog_tms" LOC = K25;
NET "prog_tdi" LOC = J24;
NET "prog_tck" LOC = H23;
NET "sata1_tx_p" LOC = AJ9;
NET "sata1_tx_n" LOC = AK9;
NET "sata1_rx_p" LOC = AG10;
NET "sata1_rx_n" LOC = AH10;
NET "sata0_tx_p" LOC = AJ11;
NET "sata0_tx_n" LOC = AK11;
NET "sata0_rx_p" LOC = AG12;
NET "sata0_rx_n" LOC = AH12;
NET "pcie_tx1_p" LOC = B11;
NET "pcie_tx1_n" LOC = A11;
NET "pcie_rx1_p" LOC = D12;
NET "pcie_rx1_n" LOC = C12;
NET "pcie_master_clk_p" LOC = D14;
NET "pcie_master_clk_n" LOC = C14;
NET "mgt_avc_b" LOC = AF14;
NET "mgt_avc_b" LOC = AF14;
NET "mgt_avc_b" LOC = AF14;
NET "mgt_avc_b" LOC = AF14;
NET "mgt_avc_b" LOC = AF14;
NET "mgt_avc_b" LOC = AF14;
NET "mgt_avc_b" LOC = AF14;
NET "mgt_avc_b" LOC = AF14;
NET "mgt_avc_b" LOC = AF14;
NET "mgt_avc_b" LOC = AF14;
NET "mgt_avc_b" LOC = AF14;
NET "mgt_avc_a" LOC = A10;
NET "mgt_avc_a" LOC = A10;
NET "mgt_avc_a" LOC = A10;
NET "mgt_avc_a" LOC = A10;
NET "mgt_avc_a" LOC = A10;
NET "mgt_avc_a" LOC = A10;
NET "mgt_avc_a" LOC = A10;
NET "mgt_avc_a" LOC = A10;
NET "mgt_avc_a" LOC = A10;
NET "mgt_avc_a" LOC = A10;
NET "mgt_avc_a" LOC = A10;
NET "gtp_ck1_p" LOC = B19;
NET "gtp_ck1_n" LOC = A19;
NET "gtp_ck0_p" LOC = AJ13;
NET "gtp_ck0_n" LOC = AK13;
NET "ddr_2_we_n" LOC = E26;
NET "ddr_2_udqs_p" LOC = K28;
NET "ddr_2_udqs_n" LOC = K30;
NET "ddr_2_udm" LOC = J27;
NET "ddr_2_reset_n" LOC = C26;
NET "ddr_2_ras_n" LOC = K26;
NET "ddr_2_odt" LOC = E30;
NET "ddr_2_ldqs_p" LOC = J29;
NET "ddr_2_ldqs_n" LOC = J30;
NET "ddr_2_ldm" LOC = J28;
NET "ddr_2_cke" LOC = B29;
NET "ddr_2_ck_p" LOC = E27;
NET "ddr_2_ck_n" LOC = E28;
NET "ddr_2_cas_n" LOC = K27;
NET "ddr_2_dq15" LOC = M30;
NET "ddr_2_dq14" LOC = M28;
NET "ddr_2_dq13" LOC = M27;
NET "ddr_2_dq12" LOC = M26;
NET "ddr_2_dq11" LOC = L30;
NET "ddr_2_dq10" LOC = L29;
NET "ddr_2_dq9" LOC = L28;
NET "ddr_2_dq8" LOC = L27;
NET "ddr_2_dq7" LOC = F30;
NET "ddr_2_dq6" LOC = F28;
NET "ddr_2_dq5" LOC = G28;
NET "ddr_2_dq4" LOC = G27;
NET "ddr_2_dq3" LOC = G30;
NET "ddr_2_dq2" LOC = G29;
NET "ddr_2_dq1" LOC = H30;
NET "ddr_2_dq0" LOC = H28;
NET "ddr_2_ba2" LOC = D26;
NET "ddr_2_ba1" LOC = C27;
NET "ddr_2_ba0" LOC = D27;
NET "ddr_2_a14" LOC = A29;
NET "ddr_2_a13" LOC = A28;
NET "ddr_2_a12" LOC = B30;
NET "ddr_2_a11" LOC = A26;
NET "ddr_2_a10" LOC = F26;
NET "ddr_2_a9" LOC = A27;
NET "ddr_2_a8" LOC = B27;
NET "ddr_2_a7" LOC = C29;
NET "ddr_2_a6" LOC = H27;
NET "ddr_2_a5" LOC = H26;
NET "ddr_2_a4" LOC = F27;
NET "ddr_2_a3" LOC = E29;
NET "ddr_2_a2" LOC = C30;
NET "ddr_2_a1" LOC = D30;
NET "ddr_2_a0" LOC = D28;
NET "ddr_we_n" LOC = F4;
NET "ddr_udqs_p" LOC = K2;
NET "ddr_udqs_n" LOC = K1;
NET "ddr_udm" LOC = K4;
NET "ddr_reset_n" LOC = G5;
NET "ddr_ras_n" LOC = C1;
NET "ddr_odt" LOC = E4;
NET "ddr_ldqs_p" LOC = J5;
NET "ddr_ldqs_n" LOC = J4;
NET "ddr_ldm" LOC = K3;
NET "ddr_cke" LOC = C4;
NET "ddr_ck_p" LOC = E3;
NET "ddr_ck_n" LOC = E1;
NET "ddr_cas_n" LOC = B1;
NET "ddr_dq15" LOC = M1;
NET "ddr_dq14" LOC = M2;
NET "ddr_dq13" LOC = L1;
NET "ddr_dq12" LOC = L3;
NET "ddr_dq11" LOC = L4;
NET "ddr_dq10" LOC = L5;
NET "ddr_dq9" LOC = M3;
NET "ddr_dq8" LOC = M4;
NET "ddr_dq7" LOC = H1;
NET "ddr_dq6" LOC = H2;
NET "ddr_dq5" LOC = G1;
NET "ddr_dq4" LOC = G3;
NET "ddr_dq3" LOC = J1;
NET "ddr_dq2" LOC = J3;
NET "ddr_dq1" LOC = H3;
NET "ddr_dq0" LOC = H4;
NET "ddr_ba2" LOC = F3;
NET "ddr_ba1" LOC = D1;
NET "ddr_ba0" LOC = D2;
NET "ddr_a14" LOC = A5;
NET "ddr_a13" LOC = B5;
NET "ddr_a12" LOC = A4;
NET "ddr_a11" LOC = G4;
NET "ddr_a10" LOC = D5;
NET "ddr_a9" LOC = A2;
NET "ddr_a8" LOC = B2;
NET "ddr_a7" LOC = B3;
NET "ddr_a6" LOC = F1;
NET "ddr_a5" LOC = F2;
NET "ddr_a4" LOC = C5;
NET "ddr_a3" LOC = E5;
NET "ddr_a2" LOC = A3;
NET "ddr_a1" LOC = D3;
NET "ddr_a0" LOC = D4;
NET "tempid_dq" LOC = AC30;
NET "fmc2_pg_c2m" LOC = AD30;
NET "fmc1_pg_c2m" LOC = N29;
NET "dbg_led4_n" LOC = U7;
NET "dbg_led3_n" LOC = AG1;
NET "dbg_led2_n" LOC = AF1;
NET "dbg_led1_n" LOC = R6;
NET "pcbrev4" LOC = AF17;
NET "pcbrev3" LOC = AE17;
NET "pcbrev2" LOC = AD18;
NET "pcbrev1" LOC = AE20;
NET "pcbrev0" LOC = AD20;
