*~
*#
fifo_generator_v6_1
testbench/sfpga_bootloader/sample_bitstream/
*.*\#
\#*
.\#*
*.*~
syn/
work
*.wlf
modelsim.ini
transcript
*.vstf
*.bak
*.vcd
*.h
doc/
*.o
*.bin
*.elf
Makefile
Backup*.cdr
*.cmd
*.log
*.htm
*.html
*.vmf
*.bit
