#===============================================================================
# IO Location Constraints
#===============================================================================

#----------------------------------------
# VME interface
#----------------------------------------
NET "vme_write_n_i" LOC = B1;
NET "vme_trst_i" LOC = T13;
NET "vme_tms_i" LOC = R15;
NET "vme_tdo_oe_o" LOC = R14;
NET "vme_tdo_o" LOC = T12;
NET "vme_tdi_i" LOC = R12;
NET "vme_tck_i" LOC = T14;
NET "vme_sysreset_n_i" LOC = G6;
NET "vme_sysclk_i" LOC = G5;
NET "vme_retry_oe_o" LOC = D3;
NET "vme_retry_n_o" LOC = D1;
NET "vme_lword_n_b" LOC = B3;
NET "vme_iackout_n_o" LOC = E4;
NET "vme_iackin_n_i" LOC = F6;
NET "vme_iack_n_o" LOC = E3;
NET "vme_gap_i" LOC = A3;
NET "vme_dtack_oe_o" LOC = C3;
NET "vme_dtack_n_o" LOC = C2;
NET "vme_ds2_n_i" LOC = N9;
NET "vme_ds1_n_i" LOC = P9;
NET "vme_d_oe_n_o" LOC = K6;
NET "vme_d_dir_o" LOC = F4;
NET "vme_berr_o" LOC = C1;
NET "vme_as_n_i" LOC = F5;
NET "vme_a_oe_n_o" LOC = K5;
NET "vme_a_dir_o" LOC = B2;
NET "vme_irq7_o" LOC = C11;
NET "vme_irq6_o" LOC = C8;
NET "vme_irq5_o" LOC = D8;
NET "vme_irq4_o" LOC = C10;
NET "vme_irq3_o" LOC = E10;
NET "vme_irq2_o" LOC = E8;
NET "vme_irq1_o" LOC = E7;
NET "vme_ga4_i" LOC = A10;
NET "vme_ga3_i" LOC = B10;
NET "vme_ga2_i" LOC = A9;
NET "vme_ga1_i" LOC = C9;
NET "vme_ga0_i" LOC = A8;
NET "vme_d31_b" LOC = F7;
NET "vme_d30_b" LOC = A6;
NET "vme_d29_b" LOC = B6;
NET "vme_d28_b" LOC = C5;
NET "vme_d27_b" LOC = D5;
NET "vme_d26_b" LOC = A5;
NET "vme_d25_b" LOC = B5;
NET "vme_d24_b" LOC = A4;
NET "vme_d23_b" LOC = T8;
NET "vme_d22_b" LOC = P8;
NET "vme_d21_b" LOC = N8;
NET "vme_d20_b" LOC = M9;
NET "vme_d19_b" LOC = T9;
NET "vme_d18_b" LOC = R9;
NET "vme_d17_b" LOC = M10;
NET "vme_d16_b" LOC = L10;
NET "vme_d15_b" LOC = N6;
NET "vme_d14_b" LOC = M6;
NET "vme_d13_b" LOC = T4;
NET "vme_d12_b" LOC = P4;
NET "vme_d11_b" LOC = L7;
NET "vme_d10_b" LOC = L8;
NET "vme_d9_b" LOC = P5;
NET "vme_d8_b" LOC = N5;
NET "vme_d7_b" LOC = T5;
NET "vme_d6_b" LOC = R5;
NET "vme_d5_b" LOC = T6;
NET "vme_d4_b" LOC = P6;
NET "vme_d3_b" LOC = T7;
NET "vme_d2_b" LOC = R7;
NET "vme_d1_b" LOC = M7;
NET "vme_d0_b" LOC = P7;
NET "vme_am5_i" LOC = B8;
NET "vme_am4_i" LOC = C6;
NET "vme_am3_i" LOC = D6;
NET "vme_am2_i" LOC = A7;
NET "vme_am1_i" LOC = C7;
NET "vme_am0_i" LOC = E6;
NET "vme_a31_b" LOC = E1;
NET "vme_a30_b" LOC = E2;
NET "vme_a29_b" LOC = L5;
NET "vme_a28_b" LOC = L4;
NET "vme_a27_b" LOC = H3;
NET "vme_a26_b" LOC = J4;
NET "vme_a25_b" LOC = K3;
NET "vme_a24_b" LOC = F1;
NET "vme_a23_b" LOC = F2;
NET "vme_a22_b" LOC = G1;
NET "vme_a21_b" LOC = G3;
NET "vme_a20_b" LOC = H1;
NET "vme_a19_b" LOC = H2;
NET "vme_a18_b" LOC = J1;
NET "vme_a17_b" LOC = J3;
NET "vme_a16_b" LOC = K1;
NET "vme_a15_b" LOC = K2;
NET "vme_a14_b" LOC = L1;
NET "vme_a13_b" LOC = L3;
NET "vme_a12_b" LOC = M1;
NET "vme_a11_b" LOC = M2;
NET "vme_a10_b" LOC = N1;
NET "vme_a9_b" LOC = N3;
NET "vme_a8_b" LOC = P1;
NET "vme_a7_b" LOC = P2;
NET "vme_a6_b" LOC = R1;
NET "vme_a5_b" LOC = R2;
NET "vme_a4_b" LOC = N4;
NET "vme_a3_b" LOC = M5;
NET "vme_a2_b" LOC = M3;
NET "vme_a1_b" LOC = M4;

#----------------------------------------
# Application FPGA boot control
#----------------------------------------
NET "boot_clk_o" LOC = F14;
NET "boot_config_o" LOC = C15;
NET "boot_done_i" LOC = C16;
NET "boot_dout_o" LOC = F13;
NET "boot_status_i" LOC = E16;

#----------------------------------------
# Clock and reset inputs
#----------------------------------------
NET "rst_n_i" LOC = E15;
NET "lclk_n_i" LOC = H5;
NET "pll_2sfpga_n_i" LOC = F16;
NET "pll_2sfpga_p_i" LOC = F15;
NET "pll_ce_o" LOC = G14;

#----------------------------------------
# Switches and button
#----------------------------------------
NET "pushbutton_i" LOC = N16;
NET "noga0_i" LOC = E13;
NET "noga1_i" LOC = E12;
NET "noga2_i" LOC = B15;
NET "noga3_i" LOC = B16;
NET "noga4_i" LOC = F12;
NET "switch0_i" LOC = D14;
NET "switch1_i" LOC = D16;
NET "usega_i" LOC = G11;

#----------------------------------------
# Inter-FPGA lines
#----------------------------------------
NET "rsvd0_b" LOC = G16;
NET "rsvd1_b" LOC = H15;
NET "rsvd2_b" LOC = H16;
NET "rsvd3_b" LOC = J14;
NET "rsvd4_b" LOC = J16;
NET "rsvd5_b" LOC = K15;
NET "rsvd6_b" LOC = K16;
NET "rsvd7_b" LOC = M15;

#----------------------------------------
# LEDs
#----------------------------------------
NET "debugled2_o" LOC = P15;
NET "debugled1_o" LOC = L16;

#----------------------------------------
# Boot interface
#----------------------------------------
#NET "sfpga_program" LOC = T2;
#NET "sfpga_done" LOC = P13;
#NET "sfpga_cclk" LOC = R11;
#NET "sfpga_cso_b" LOC = T3;
#NET "sfpga_init_b" LOC = R3;
#NET "sfpga_m0" LOC = T11;
#NET "sfpga_m1" LOC = N11;
#NET "sfpga_miso" LOC = P10;
#NET "sfpga_mosi" LOC = T10;

#----------------------------------------
# JTAG interface
#----------------------------------------
#NET "prog_tms" LOC = A15;
#NET "prog_tdo" LOC = E14;
#NET "prog_tdi" LOC = C12;
#NET "prog_tck" LOC = C14;

#===============================================================================
# IO Standard Constraints
#===============================================================================

#----------------------------------------
# VME interface
#----------------------------------------
NET "vme_write_n_i" IOSTANDARD = "LVCMOS33";
NET "vme_trst_i" IOSTANDARD = "LVCMOS33";
NET "vme_tms_i" IOSTANDARD = "LVCMOS33";
NET "vme_tdo_oe_o" IOSTANDARD = "LVCMOS33";
NET "vme_tdo_o" IOSTANDARD = "LVCMOS33";
NET "vme_tdi_i" IOSTANDARD = "LVCMOS33";
NET "vme_tck_i" IOSTANDARD = "LVCMOS33";
NET "vme_sysreset_n_i" IOSTANDARD = "LVCMOS33";
NET "vme_sysclk_i" IOSTANDARD = "LVCMOS33";
NET "vme_retry_oe_o" IOSTANDARD = "LVCMOS33";
NET "vme_retry_n_o" IOSTANDARD = "LVCMOS33";
NET "vme_lword_n_b" IOSTANDARD = "LVCMOS33";
NET "vme_iackout_n_o" IOSTANDARD = "LVCMOS33";
NET "vme_iackin_n_i" IOSTANDARD = "LVCMOS33";
NET "vme_iack_n_o" IOSTANDARD = "LVCMOS33";
NET "vme_gap_i" IOSTANDARD = "LVCMOS33";
NET "vme_dtack_oe_o" IOSTANDARD = "LVCMOS33";
NET "vme_dtack_n_o" IOSTANDARD = "LVCMOS33";
NET "vme_ds2_n_i" IOSTANDARD = "LVCMOS33";
NET "vme_ds1_n_i" IOSTANDARD = "LVCMOS33";
NET "vme_d_oe_n_o" IOSTANDARD = "LVCMOS33";
NET "vme_d_dir_o" IOSTANDARD = "LVCMOS33";
NET "vme_berr_o" IOSTANDARD = "LVCMOS33";
NET "vme_as_n_i" IOSTANDARD = "LVCMOS33";
NET "vme_a_oe_n_o" IOSTANDARD = "LVCMOS33";
NET "vme_a_dir_o" IOSTANDARD = "LVCMOS33";
NET "vme_irq7_o" IOSTANDARD = "LVCMOS33";
NET "vme_irq6_o" IOSTANDARD = "LVCMOS33";
NET "vme_irq5_o" IOSTANDARD = "LVCMOS33";
NET "vme_irq4_o" IOSTANDARD = "LVCMOS33";
NET "vme_irq3_o" IOSTANDARD = "LVCMOS33";
NET "vme_irq2_o" IOSTANDARD = "LVCMOS33";
NET "vme_irq1_o" IOSTANDARD = "LVCMOS33";
NET "vme_ga4_i" IOSTANDARD = "LVCMOS33";
NET "vme_ga3_i" IOSTANDARD = "LVCMOS33";
NET "vme_ga2_i" IOSTANDARD = "LVCMOS33";
NET "vme_ga1_i" IOSTANDARD = "LVCMOS33";
NET "vme_ga0_i" IOSTANDARD = "LVCMOS33";
NET "vme_d31_b" IOSTANDARD = "LVCMOS33";
NET "vme_d30_b" IOSTANDARD = "LVCMOS33";
NET "vme_d29_b" IOSTANDARD = "LVCMOS33";
NET "vme_d28_b" IOSTANDARD = "LVCMOS33";
NET "vme_d27_b" IOSTANDARD = "LVCMOS33";
NET "vme_d26_b" IOSTANDARD = "LVCMOS33";
NET "vme_d25_b" IOSTANDARD = "LVCMOS33";
NET "vme_d24_b" IOSTANDARD = "LVCMOS33";
NET "vme_d23_b" IOSTANDARD = "LVCMOS33";
NET "vme_d22_b" IOSTANDARD = "LVCMOS33";
NET "vme_d21_b" IOSTANDARD = "LVCMOS33";
NET "vme_d20_b" IOSTANDARD = "LVCMOS33";
NET "vme_d19_b" IOSTANDARD = "LVCMOS33";
NET "vme_d18_b" IOSTANDARD = "LVCMOS33";
NET "vme_d17_b" IOSTANDARD = "LVCMOS33";
NET "vme_d16_b" IOSTANDARD = "LVCMOS33";
NET "vme_d15_b" IOSTANDARD = "LVCMOS33";
NET "vme_d14_b" IOSTANDARD = "LVCMOS33";
NET "vme_d13_b" IOSTANDARD = "LVCMOS33";
NET "vme_d12_b" IOSTANDARD = "LVCMOS33";
NET "vme_d11_b" IOSTANDARD = "LVCMOS33";
NET "vme_d10_b" IOSTANDARD = "LVCMOS33";
NET "vme_d9_b" IOSTANDARD = "LVCMOS33";
NET "vme_d8_b" IOSTANDARD = "LVCMOS33";
NET "vme_d7_b" IOSTANDARD = "LVCMOS33";
NET "vme_d6_b" IOSTANDARD = "LVCMOS33";
NET "vme_d5_b" IOSTANDARD = "LVCMOS33";
NET "vme_d4_b" IOSTANDARD = "LVCMOS33";
NET "vme_d3_b" IOSTANDARD = "LVCMOS33";
NET "vme_d2_b" IOSTANDARD = "LVCMOS33";
NET "vme_d1_b" IOSTANDARD = "LVCMOS33";
NET "vme_d0_b" IOSTANDARD = "LVCMOS33";
NET "vme_am5_i" IOSTANDARD = "LVCMOS33";
NET "vme_am4_i" IOSTANDARD = "LVCMOS33";
NET "vme_am3_i" IOSTANDARD = "LVCMOS33";
NET "vme_am2_i" IOSTANDARD = "LVCMOS33";
NET "vme_am1_i" IOSTANDARD = "LVCMOS33";
NET "vme_am0_i" IOSTANDARD = "LVCMOS33";
NET "vme_a31_b" IOSTANDARD = "LVCMOS33";
NET "vme_a30_b" IOSTANDARD = "LVCMOS33";
NET "vme_a29_b" IOSTANDARD = "LVCMOS33";
NET "vme_a28_b" IOSTANDARD = "LVCMOS33";
NET "vme_a27_b" IOSTANDARD = "LVCMOS33";
NET "vme_a26_b" IOSTANDARD = "LVCMOS33";
NET "vme_a25_b" IOSTANDARD = "LVCMOS33";
NET "vme_a24_b" IOSTANDARD = "LVCMOS33";
NET "vme_a23_b" IOSTANDARD = "LVCMOS33";
NET "vme_a22_b" IOSTANDARD = "LVCMOS33";
NET "vme_a21_b" IOSTANDARD = "LVCMOS33";
NET "vme_a20_b" IOSTANDARD = "LVCMOS33";
NET "vme_a19_b" IOSTANDARD = "LVCMOS33";
NET "vme_a18_b" IOSTANDARD = "LVCMOS33";
NET "vme_a17_b" IOSTANDARD = "LVCMOS33";
NET "vme_a16_b" IOSTANDARD = "LVCMOS33";
NET "vme_a15_b" IOSTANDARD = "LVCMOS33";
NET "vme_a14_b" IOSTANDARD = "LVCMOS33";
NET "vme_a13_b" IOSTANDARD = "LVCMOS33";
NET "vme_a12_b" IOSTANDARD = "LVCMOS33";
NET "vme_a11_b" IOSTANDARD = "LVCMOS33";
NET "vme_a10_b" IOSTANDARD = "LVCMOS33";
NET "vme_a9_b" IOSTANDARD = "LVCMOS33";
NET "vme_a8_b" IOSTANDARD = "LVCMOS33";
NET "vme_a7_b" IOSTANDARD = "LVCMOS33";
NET "vme_a6_b" IOSTANDARD = "LVCMOS33";
NET "vme_a5_b" IOSTANDARD = "LVCMOS33";
NET "vme_a4_b" IOSTANDARD = "LVCMOS33";
NET "vme_a3_b" IOSTANDARD = "LVCMOS33";
NET "vme_a2_b" IOSTANDARD = "LVCMOS33";
NET "vme_a1_b" IOSTANDARD = "LVCMOS33";

#----------------------------------------
# Application FPGA boot control
#----------------------------------------
NET "boot_clk_o" IOSTANDARD = "LVCMOS33";
NET "boot_config_o" IOSTANDARD = "LVCMOS33";
NET "boot_done_i" IOSTANDARD = "LVCMOS33";
NET "boot_dout_o" IOSTANDARD = "LVCMOS33";
NET "boot_status_i" IOSTANDARD = "LVCMOS33";

#----------------------------------------
# Clock and reset inputs
#----------------------------------------
NET "rst_n_i" IOSTANDARD = "LVCMOS33";
NET "lclk_n_i" IOSTANDARD = "LVCMOS33";
NET "pll_2sfpga_n_i" IOSTANDARD = "LVCMOS33";
NET "pll_2sfpga_p_i" IOSTANDARD = "LVCMOS33";
NET "pll_ce_o" IOSTANDARD = "LVCMOS33";

#----------------------------------------
# Switches and button
#----------------------------------------
NET "pushbutton_i" IOSTANDARD = "LVCMOS33";
NET "noga0_i" IOSTANDARD = "LVCMOS33";
NET "noga1_i" IOSTANDARD = "LVCMOS33";
NET "noga2_i" IOSTANDARD = "LVCMOS33";
NET "noga3_i" IOSTANDARD = "LVCMOS33";
NET "noga4_i" IOSTANDARD = "LVCMOS33";
NET "switch0_i" IOSTANDARD = "LVCMOS33";
NET "switch1_i" IOSTANDARD = "LVCMOS33";
NET "usega_i" IOSTANDARD = "LVCMOS33";

#----------------------------------------
# Inter-FPGA lines
#----------------------------------------
NET "rsvd0_b" IOSTANDARD = "LVCMOS33";
NET "rsvd1_b" IOSTANDARD = "LVCMOS33";
NET "rsvd2_b" IOSTANDARD = "LVCMOS33";
NET "rsvd3_b" IOSTANDARD = "LVCMOS33";
NET "rsvd4_b" IOSTANDARD = "LVCMOS33";
NET "rsvd5_b" IOSTANDARD = "LVCMOS33";
NET "rsvd6_b" IOSTANDARD = "LVCMOS33";
NET "rsvd7_b" IOSTANDARD = "LVCMOS33";

#----------------------------------------
# LEDs
#----------------------------------------
NET "debugled2_o" IOSTANDARD = "LVCMOS33";
NET "debugled1_o" IOSTANDARD = "LVCMOS33";

#----------------------------------------
# Boot interface
#----------------------------------------
#NET "sfpga_program" IOSTANDARD = "LVCMOS33";
#NET "sfpga_done" IOSTANDARD = "LVCMOS33";
#NET "sfpga_cclk" IOSTANDARD = "LVCMOS33";
#NET "sfpga_cso_b" IOSTANDARD = "LVCMOS33";
#NET "sfpga_init_b" IOSTANDARD = "LVCMOS33";
#NET "sfpga_m0" IOSTANDARD = "LVCMOS33";
#NET "sfpga_m1" IOSTANDARD = "LVCMOS33";
#NET "sfpga_miso" IOSTANDARD = "LVCMOS33";
#NET "sfpga_mosi" IOSTANDARD = "LVCMOS33";

#----------------------------------------
# JTAG interface
#----------------------------------------
#NET "prog_tms" IOSTANDARD = "LVCMOS33";
#NET "prog_tdo" IOSTANDARD = "LVCMOS33";
#NET "prog_tdi" IOSTANDARD = "LVCMOS33";
#NET "prog_tck" IOSTANDARD = "LVCMOS33";