#===============================================================================
# IO Location Constraints
#===============================================================================

#----------------------------------------
# VME interface
#----------------------------------------
NET "vme_write_n_i" LOC = R1;
NET "vme_sysreset_n_i" LOC = P4;
NET "vme_sysclk_i" LOC = P3;
NET "vme_retry_oe_o" LOC = R4;
NET "vme_retry_n_o" LOC = AB2;
NET "vme_lword_n_b" LOC = M7;
NET "vme_iackout_n_o" LOC = N3;
NET "vme_iackin_n_i" LOC = P7;
NET "vme_iack_n_o" LOC = N1;
NET "vme_gap_i" LOC = M6;
NET "vme_dtack_oe_o" LOC = T1;
NET "vme_dtack_n_o" LOC = R5;
NET "vme_ds2_n_i" LOC = Y7;
NET "vme_ds1_n_i" LOC = Y6;
NET "vme_d_oe_n_o" LOC = P1;
NET "vme_d_dir_o" LOC = P2;
NET "vme_berr_o" LOC = R3;
NET "vme_as_n_i" LOC = P6;
NET "vme_a_oe_n_o" LOC = N4;
NET "vme_a_dir_o" LOC = N5;
NET "vme_irq7_o" LOC = R7;
NET "vme_irq6_o" LOC = AH2;
NET "vme_irq5_o" LOC = AF2;
NET "vme_irq4_o" LOC = N9;
NET "vme_irq3_o" LOC = N10;
NET "vme_irq2_o" LOC = AH4;
NET "vme_irq1_o" LOC = AG4;
NET "vme_ga4_i" LOC = V9;
NET "vme_ga3_i" LOC = V10;
NET "vme_ga2_i" LOC = AJ1;
NET "vme_ga1_i" LOC = AH1;
NET "vme_ga0_i" LOC = V7;
NET "vme_d31_b" LOC = AK3;
NET "vme_d30_b" LOC = AH3;
NET "vme_d29_b" LOC = T8;
NET "vme_d28_b" LOC = T9;
NET "vme_d27_b" LOC = AK4;
NET "vme_d26_b" LOC = AJ4;
NET "vme_d25_b" LOC = W6;
NET "vme_d24_b" LOC = W7;
NET "vme_d23_b" LOC = AB6;
NET "vme_d22_b" LOC = AB7;
NET "vme_d21_b" LOC = W9;
NET "vme_d20_b" LOC = W10;
NET "vme_d19_b" LOC = AK5;
NET "vme_d18_b" LOC = AH5;
NET "vme_d17_b" LOC = AD6;
NET "vme_d16_b" LOC = AC6;
NET "vme_d15_b" LOC = AA6;
NET "vme_d14_b" LOC = AA7;
NET "vme_d13_b" LOC = T6;
NET "vme_d12_b" LOC = T7;
NET "vme_d11_b" LOC = AG5;
NET "vme_d10_b" LOC = AE5;
NET "vme_d9_b" LOC = Y11;
NET "vme_d8_b" LOC = W11;
NET "vme_d7_b" LOC = AF6;
NET "vme_d6_b" LOC = AE6;
NET "vme_d5_b" LOC = Y8;
NET "vme_d4_b" LOC = Y9;
NET "vme_d3_b" LOC = AE7;
NET "vme_d2_b" LOC = AD7;
NET "vme_d1_b" LOC = AA9;
NET "vme_d0_b" LOC = AA10;
NET "vme_am5_i" LOC = V8;
NET "vme_am4_i" LOC = AG3;
NET "vme_am3_i" LOC = AF3;
NET "vme_am2_i" LOC = AF4;
NET "vme_am1_i" LOC = AE4;
NET "vme_am0_i" LOC = AK2;
NET "vme_a31_b" LOC = T2;
NET "vme_a30_b" LOC = T3;
NET "vme_a29_b" LOC = T4;
NET "vme_a28_b" LOC = U1;
NET "vme_a27_b" LOC = U3;
NET "vme_a26_b" LOC = U4;
NET "vme_a25_b" LOC = U5;
NET "vme_a24_b" LOC = V1;
NET "vme_a23_b" LOC = V2;
NET "vme_a22_b" LOC = W1;
NET "vme_a21_b" LOC = W3;
NET "vme_a20_b" LOC = AA4;
NET "vme_a19_b" LOC = AA5;
NET "vme_a18_b" LOC = Y1;
NET "vme_a17_b" LOC = Y2;
NET "vme_a16_b" LOC = Y3;
NET "vme_a15_b" LOC = Y4;
NET "vme_a14_b" LOC = AC1;
NET "vme_a13_b" LOC = AC3;
NET "vme_a12_b" LOC = AD1;
NET "vme_a11_b" LOC = AD2;
NET "vme_a10_b" LOC = AB3;
NET "vme_a9_b" LOC = AB4;
NET "vme_a8_b" LOC = AD3;
NET "vme_a7_b" LOC = AD4;
NET "vme_a6_b" LOC = AC4;
NET "vme_a5_b" LOC = AC5;
NET "vme_a4_b" LOC = N7;
NET "vme_a3_b" LOC = N8;
NET "vme_a2_b" LOC = AE1;
NET "vme_a1_b" LOC = AE3;

#----------------------------------------
# Clock and reset inputs
#----------------------------------------
NET "rst_n_i" LOC = AD28;

NET "clk20_vcxo_i" LOC = V26;
NET "fpga_clk_n_i" LOC = AB30;
NET "fpga_clk_p_i" LOC = AB28;
NET "si57x_clk_n_i" LOC = W28;
NET "si57x_clk_p_i" LOC = W27;
NET "pll_2afpga_n_i" LOC = AA1;
NET "pll_2afpga_p_i" LOC = AA3;

#----------------------------------------
# Switches and button
#----------------------------------------
NET "pushbutton_i" LOC = P24;
NET "noga0_i" LOC = AE26;
NET "noga1_i" LOC = P23;
NET "noga2_i" LOC = Y24;
NET "noga3_i" LOC = Y23;
NET "noga4_i" LOC = V23;
NET "switch0_i" LOC = W22;
NET "switch1_i" LOC = W21;
NET "usega_i" LOC = Y22;

#----------------------------------------
# Inter-FPGA lines
#----------------------------------------
NET "rsvd0_b" LOC = AG26;
NET "rsvd1_b" LOC = AH26;
NET "rsvd2_b" LOC = AG27;
NET "rsvd3_b" LOC = AH27;
NET "rsvd4_b" LOC = AK27;
NET "rsvd5_b" LOC = AG28;
NET "rsvd6_b" LOC = AJ28;
NET "rsvd7_b" LOC = AK28;

#----------------------------------------
# PCB revision
#----------------------------------------
NET "pcbrev4_i" LOC = AF17;
NET "pcbrev3_i" LOC = AE17;
NET "pcbrev2_i" LOC = AD18;
NET "pcbrev1_i" LOC = AE20;
NET "pcbrev0_i" LOC = AD20;

#----------------------------------------
# SFP slot
#----------------------------------------
NET "wr_los_i" LOC = W25;
NET "wr_moddef0_i" LOC = Y26;
NET "wr_moddef1_o" LOC = Y27;
NET "wr_moddef2_b" LOC = AA24;
NET "wr_rateselect_o" LOC = W24;
NET "wr_txdisable_o" LOC = AA25;
NET "wr_txfault_i" LOC = AA27;

#----------------------------------------
# Clock controls
#----------------------------------------\
NET "oe_si57x_o" LOC = Y28;
NET "si57x_scl_o" LOC = Y30;
NET "si57x_sda_b" LOC = AA29;
NET "si57x_tune_o" LOC = W30; # (optional)

NET "pll20dac_din_o" LOC = U28;
NET "pll20dac_sclk_o" LOC = AA28;
NET "pll20dac_sync_n_o" LOC = N28;
NET "pll25dac_din_o" LOC = P25;
NET "pll25dac_sclk_o" LOC = N27;
NET "pll25dac_sync_n_o" LOC = P26;

#----------------------------------------
# UART
#----------------------------------------
NET "uart_rxd_o" LOC = U27;
NET "uart_txd_i" LOC = U25;

#----------------------------------------
# USB (optional)
#----------------------------------------
NET "usb_clkout_i" LOC = V24;
NET "usb_oe_n_o" LOC = Y25;
NET "usb_rd_n_o" LOC = T26;
NET "usb_rxf_n_i" LOC = T24;
NET "usb_siwua_i" LOC = U24;
NET "usb_txe_n_i" LOC = T25;
NET "usb_wr_n_o" LOC = T27;
NET "usb_d0_b" LOC = P27;
NET "usb_d1_b" LOC = R24;
NET "usb_d2_b" LOC = R25;
NET "usb_d3_b" LOC = R27;
NET "usb_d4_b" LOC = R28;
NET "usb_d5_b" LOC = R22;
NET "usb_d6_b" LOC = P22;
NET "usb_d7_b" LOC = R21;
NET "io7_i" LOC = U30;

#----------------------------------------
# VME P2
#----------------------------------------
NET "p2_data_p19_b" LOC = B7;
NET "p2_data_p18_b" LOC = K10;
NET "p2_data_p17_b" LOC = H17;
NET "p2_data_p16_b" LOC = F8;
NET "p2_data_p15_b" LOC = E7;
NET "p2_data_p14_b" LOC = D6;
NET "p2_data_p13_b" LOC = AE9;
NET "p2_data_p12_b" LOC = AD8;
NET "p2_data_p11_b" LOC = AG6;
NET "p2_data_p10_b" LOC = AF7;
NET "p2_data_p9_b" LOC = M10;
NET "p2_data_p8_b" LOC = L17;
NET "p2_data_p7_b" LOC = J8;
NET "p2_data_p6_b" LOC = D8;
NET "p2_data_p5_b" LOC = H7;
NET "p2_data_p4_b" LOC = F6;
NET "p2_data_p3_b" LOC = AH7;
NET "p2_data_p2_b" LOC = AB10;
NET "p2_data_p1_b" LOC = W12;
NET "p2_data_p0_b" LOC = AA11;
NET "p2_data_n19_b" LOC = A7;
NET "p2_data_n18_b" LOC = J10;
NET "p2_data_n17_b" LOC = G17;
NET "p2_data_n16_b" LOC = E8;
NET "p2_data_n15_b" LOC = D7;
NET "p2_data_n14_b" LOC = C6;
NET "p2_data_n13_b" LOC = AF9;
NET "p2_data_n12_b" LOC = AE8;
NET "p2_data_n11_b" LOC = AH6;
NET "p2_data_n10_b" LOC = AG7;
NET "p2_data_n9_b" LOC = L10;
NET "p2_data_n8_b" LOC = K17;
NET "p2_data_n7_b" LOC = H8;
NET "p2_data_n6_b" LOC = C8;
NET "p2_data_n5_b" LOC = G7;
NET "p2_data_n4_b" LOC = E6;
NET "p2_data_n3_b" LOC = AK7;
NET "p2_data_n2_b" LOC = AB9;
NET "p2_data_n1_b" LOC = Y12;
NET "p2_data_n0_b" LOC = AB11;

#----------------------------------------
# DDR3 (bank 4)
#----------------------------------------
NET "ddr_we_n_o" LOC = F4;
NET "ddr_udqs_p_b" LOC = K2;
NET "ddr_udqs_n_b" LOC = K1;
NET "ddr_udm_o" LOC = K4;
NET "ddr_reset_n_o" LOC = G5;
NET "ddr_ras_n_o" LOC = C1;
NET "ddr_odt_o" LOC = E4;
NET "ddr_ldqs_p_b" LOC = J5;
NET "ddr_ldqs_n_b" LOC = J4;
NET "ddr_ldm_o" LOC = K3;
NET "ddr_cke_o" LOC = C4;
NET "ddr_ck_p_o" LOC = E3;
NET "ddr_ck_n_o" LOC = E1;
NET "ddr_cas_n_o" LOC = B1;
NET "ddr_dq15_b" LOC = M1;
NET "ddr_dq14_b" LOC = M2;
NET "ddr_dq13_b" LOC = L1;
NET "ddr_dq12_b" LOC = L3;
NET "ddr_dq11_b" LOC = L4;
NET "ddr_dq10_b" LOC = L5;
NET "ddr_dq9_b" LOC = M3;
NET "ddr_dq8_b" LOC = M4;
NET "ddr_dq7_b" LOC = H1;
NET "ddr_dq6_b" LOC = H2;
NET "ddr_dq5_b" LOC = G1;
NET "ddr_dq4_b" LOC = G3;
NET "ddr_dq3_b" LOC = J1;
NET "ddr_dq2_b" LOC = J3;
NET "ddr_dq1_b" LOC = H3;
NET "ddr_dq0_b" LOC = H4;
NET "ddr_ba2_o" LOC = F3;
NET "ddr_ba1_o" LOC = D1;
NET "ddr_ba0_o" LOC = D2;
NET "ddr_a14_o" LOC = A5;
NET "ddr_a13_o" LOC = B5;
NET "ddr_a12_o" LOC = A4;
NET "ddr_a11_o" LOC = G4;
NET "ddr_a10_o" LOC = D5;
NET "ddr_a9_o" LOC = A2;
NET "ddr_a8_o" LOC = B2;
NET "ddr_a7_o" LOC = B3;
NET "ddr_a6_o" LOC = F1;
NET "ddr_a5_o" LOC = F2;
NET "ddr_a4_o" LOC = C5;
NET "ddr_a3_o" LOC = E5;
NET "ddr_a2_o" LOC = A3;
NET "ddr_a1_o" LOC = D3;
NET "ddr_a0_o" LOC = D4;

#----------------------------------------
# DDR3 (bank 5)
#----------------------------------------
NET "ddr_2_we_n_o" LOC = E26;
NET "ddr_2_udqs_p_b" LOC = K28;
NET "ddr_2_udqs_n_b" LOC = K30;
NET "ddr_2_udm_o" LOC = J27;
NET "ddr_2_reset_n_o" LOC = C26;
NET "ddr_2_ras_n_o" LOC = K26;
NET "ddr_2_odt_o" LOC = E30;
NET "ddr_2_ldqs_p_b" LOC = J29;
NET "ddr_2_ldqs_n_b" LOC = J30;
NET "ddr_2_ldm_o" LOC = J28;
NET "ddr_2_cke_o" LOC = B29;
NET "ddr_2_ck_p_o" LOC = E27;
NET "ddr_2_ck_n_o" LOC = E28;
NET "ddr_2_cas_n_O" LOC = K27;
NET "ddr_2_dq15_b" LOC = M30;
NET "ddr_2_dq14_b" LOC = M28;
NET "ddr_2_dq13_b" LOC = M27;
NET "ddr_2_dq12_b" LOC = M26;
NET "ddr_2_dq11_b" LOC = L30;
NET "ddr_2_dq10_b" LOC = L29;
NET "ddr_2_dq9_b" LOC = L28;
NET "ddr_2_dq8_b" LOC = L27;
NET "ddr_2_dq7_b" LOC = F30;
NET "ddr_2_dq6_b" LOC = F28;
NET "ddr_2_dq5_b" LOC = G28;
NET "ddr_2_dq4_b" LOC = G27;
NET "ddr_2_dq3_b" LOC = G30;
NET "ddr_2_dq2_b" LOC = G29;
NET "ddr_2_dq1_b" LOC = H30;
NET "ddr_2_dq0_b" LOC = H28;
NET "ddr_2_ba2_o" LOC = D26;
NET "ddr_2_ba1_o" LOC = C27;
NET "ddr_2_ba0_o" LOC = D27;
NET "ddr_2_a14_o" LOC = A29;
NET "ddr_2_a13_o" LOC = A28;
NET "ddr_2_a12_o" LOC = B30;
NET "ddr_2_a11_o" LOC = A26;
NET "ddr_2_a10_o" LOC = F26;
NET "ddr_2_a9_o" LOC = A27;
NET "ddr_2_a8_o" LOC = B27;
NET "ddr_2_a7_o" LOC = C29;
NET "ddr_2_a6_o" LOC = H27;
NET "ddr_2_a5_o" LOC = H26;
NET "ddr_2_a4_o" LOC = F27;
NET "ddr_2_a3_o" LOC = E29;
NET "ddr_2_a2_o" LOC = C30;
NET "ddr_2_a1_o" LOC = D30;
NET "ddr_2_a0_o" LOC = D28;

#----------------------------------------
# FMC slot 1
#----------------------------------------
NET "fmc1_pg_c2m_o" LOC = N29;
NET "fmc1_prsntm2c_n_i" LOC = N30;
NET "fmc1_scl_o" LOC = P28;
NET "fmc1_sda_b" LOC = P30;
NET "fmc1_tck_o" LOC = AJ30;
NET "fmc1_tdi_i" LOC = AG30;
NET "fmc1_tdo_o" LOC = AF30;
NET "fmc1_tms_o" LOC = AE25;
NET "fmc1_clk1m2c_p_i" LOC = E16;
NET "fmc1_clk1m2c_n_i" LOC = D16;
NET "fmc1_clk0m2c_p_i" LOC = H15;
NET "fmc1_clk0m2c_n_I" LOC = G15;
NET "fmc1_la_p33_b" LOC = J12;
NET "fmc1_la_p32_b" LOC = H11;
NET "fmc1_la_p31_b" LOC = L11;
NET "fmc1_la_p30_b" LOC = J13;
NET "fmc1_la_p29_b" LOC = F9;
NET "fmc1_la_p28_b" LOC = L12;
NET "fmc1_la_p27_b" LOC = M13;
NET "fmc1_la_p26_b" LOC = L14;
NET "fmc1_la_p25_b" LOC = F11;
NET "fmc1_la_p24_b" LOC = G10;
NET "fmc1_la_p23_b" LOC = M15;
NET "fmc1_la_p22_b" LOC = F13;
NET "fmc1_la_p21_b" LOC = G12;
NET "fmc1_la_p20_b" LOC = F15;
NET "fmc1_la_p19_b" LOC = G14;
NET "fmc1_la_p18_b" LOC = J14;
NET "fmc1_la_p17_b" LOC = B15;
NET "fmc1_la_p16_b" LOC = F19;
NET "fmc1_la_p15_b" LOC = H16;
NET "fmc1_la_p14_b" LOC = F17;
NET "fmc1_la_p13_b" LOC = G18;
NET "fmc1_la_p12_b" LOC = F21;
NET "fmc1_la_p11_b" LOC = G20;
NET "fmc1_la_p10_b" LOC = L21;
NET "fmc1_la_p9_b" LOC = M20;
NET "fmc1_la_p8_b" LOC = F23;
NET "fmc1_la_p7_b" LOC = G22;
NET "fmc1_la_p6_b" LOC = B25;
NET "fmc1_la_p5_b" LOC = M19;
NET "fmc1_la_p4_b" LOC = D24;
NET "fmc1_la_p3_b" LOC = E25;
NET "fmc1_la_p2_b" LOC = J22;
NET "fmc1_la_p1_b" LOC = H21;
NET "fmc1_la_p0_b" LOC = C16;
NET "fmc1_la_n33_b" LOC = H12;
NET "fmc1_la_n32_b" LOC = G11;
NET "fmc1_la_n31_b" LOC = K11;
NET "fmc1_la_n30_b" LOC = H13;
NET "fmc1_la_n29_b" LOC = E9;
NET "fmc1_la_n28_b" LOC = K12;
NET "fmc1_la_n27_b" LOC = L13;
NET "fmc1_la_n26_b" LOC = K14;
NET "fmc1_la_n25_b" LOC = E11;
NET "fmc1_la_n24_b" LOC = F10;
NET "fmc1_la_n23_b" LOC = K15;
NET "fmc1_la_n22_b" LOC = E13;
NET "fmc1_la_n21_b" LOC = F12;
NET "fmc1_la_n20_b" LOC = E15;
NET "fmc1_la_n19_b" LOC = F14;
NET "fmc1_la_n18_b" LOC = H14;
NET "fmc1_la_n17_b" LOC = A15;
NET "fmc1_la_n16_b" LOC = E19;
NET "fmc1_la_n15_b" LOC = G16;
NET "fmc1_la_n14_b" LOC = E17;
NET "fmc1_la_n13_b" LOC = F18;
NET "fmc1_la_n12_b" LOC = E21;
NET "fmc1_la_n11_b" LOC = F20;
NET "fmc1_la_n10_b" LOC = K21;
NET "fmc1_la_n9_b" LOC = L20;
NET "fmc1_la_n8_b" LOC = E23;
NET "fmc1_la_n7_b" LOC = F22;
NET "fmc1_la_n6_b" LOC = A25;
NET "fmc1_la_n5_b" LOC = L19;
NET "fmc1_la_n4_b" LOC = C24;
NET "fmc1_la_n3_b" LOC = D25;
NET "fmc1_la_n2_b" LOC = H22;
NET "fmc1_la_n1_b" LOC = G21;
NET "fmc1_la_n0_b" LOC = A16;

#----------------------------------------
# FMC slot 2
#----------------------------------------
NET "fmc2_pg_c2m_o" LOC = AD30;
NET "fmc2_prsntm2c_n_i" LOC = AE29;
NET "fmc2_scl_o" LOC = W29;
NET "fmc2_sda_b" LOC = V30;
NET "fmc2_tck_o" LOC = AH30;
NET "fmc2_tdi_i" LOC = AK29;
NET "fmc2_tdo_o" LOC = AG29;
NET "fmc2_tms_o" LOC = AJ29;
NET "fmc2_clk1m2c_p_i" LOC = AH16;
NET "fmc2_clk1m2c_n_i" LOC = AK16;
NET "fmc2_clk0m2c_p_i" LOC = AF16;
NET "fmc2_clk0m2c_n_i" LOC = AG16;
NET "fmc2_la_p33_b" LOC = AA19;
NET "fmc2_la_p32_b" LOC = W19;
NET "fmc2_la_p31_b" LOC = Y21;
NET "fmc2_la_p30_b" LOC = W20;
NET "fmc2_la_p29_b" LOC = AC24;
NET "fmc2_la_p28_b" LOC = AA22;
NET "fmc2_la_p27_b" LOC = AB20;
NET "fmc2_la_p26_b" LOC = AC19;
NET "fmc2_la_p25_b" LOC = AB17;
NET "fmc2_la_p24_b" LOC = AB21;
NET "fmc2_la_p23_b" LOC = AF25;
NET "fmc2_la_p22_b" LOC = AE24;
NET "fmc2_la_p21_b" LOC = AD22;
NET "fmc2_la_p20_b" LOC = AE19;
NET "fmc2_la_p19_b" LOC = AE23;
NET "fmc2_la_p18_b" LOC = AE21;
NET "fmc2_la_p17_b" LOC = AC16;
NET "fmc2_la_p16_b" LOC = AB14;
NET "fmc2_la_p15_b" LOC = Y17;
NET "fmc2_la_p14_b" LOC = Y15;
NET "fmc2_la_p13_b" LOC = AC15;
NET "fmc2_la_p12_b" LOC = AE15;
NET "fmc2_la_p11_b" LOC = Y16;
NET "fmc2_la_p10_b" LOC = Y14;
NET "fmc2_la_p9_b" LOC = W14;
NET "fmc2_la_p8_b" LOC = AB12;
NET "fmc2_la_p7_b" LOC = AD12;
NET "fmc2_la_p6_b" LOC = AD10;
NET "fmc2_la_p5_b" LOC = AE11;
NET "fmc2_la_p4_b" LOC = AJ15;
NET "fmc2_la_p3_b" LOC = AE13;
NET "fmc2_la_p2_b" LOC = AC11;
NET "fmc2_la_p1_b" LOC = AG8;
NET "fmc2_la_p0_b" LOC = AJ17;
NET "fmc2_la_n33_b" LOC = AB19;
NET "fmc2_la_n32_b" LOC = Y19;
NET "fmc2_la_n31_b" LOC = AA21;
NET "fmc2_la_n30_b" LOC = Y20;
NET "fmc2_la_n29_b" LOC = AD24;
NET "fmc2_la_n28_b" LOC = AC22;
NET "fmc2_la_n27_b" LOC = AC20;
NET "fmc2_la_n26_b" LOC = AD19;
NET "fmc2_la_n25_b" LOC = AD17;
NET "fmc2_la_n24_b" LOC = AC21;
NET "fmc2_la_n23_b" LOC = AG25;
NET "fmc2_la_n22_b" LOC = AF24;
NET "fmc2_la_n21_b" LOC = AE22;
NET "fmc2_la_n20_b" LOC = AF19;
NET "fmc2_la_n19_b" LOC = AF23;
NET "fmc2_la_n18_b" LOC = AF21;
NET "fmc2_la_n17_b" LOC = AD16;
NET "fmc2_la_n16_b" LOC = AC14;
NET "fmc2_la_n15_b" LOC = AA17;
NET "fmc2_la_n14_b" LOC = AA15;
NET "fmc2_la_n13_b" LOC = AD15;
NET "fmc2_la_n12_b" LOC = AF15;
NET "fmc2_la_n11_b" LOC = AB16;
NET "fmc2_la_n10_b" LOC = AA14;
NET "fmc2_la_n9_b" LOC = Y13;
NET "fmc2_la_n8_b" LOC = AC12;
NET "fmc2_la_n7_b" LOC = AE12;
NET "fmc2_la_n6_b" LOC = AE10;
NET "fmc2_la_n5_b" LOC = AF11;
NET "fmc2_la_n4_b" LOC = AK15;
NET "fmc2_la_n3_b" LOC = AF13;
NET "fmc2_la_n2_b" LOC = AD11;
NET "fmc2_la_n1_b" LOC = AH8;
NET "fmc2_la_n0_b" LOC = AK17;

#----------------------------------------
# I2C EEPROM
#----------------------------------------
NET "scl_afpga_o" LOC = AC29;
NET "sda_afpga_b" LOC = AA30;

#----------------------------------------
# Front panel IO and LEDs
#----------------------------------------
NET "fp_gpio1_b" LOC = R30;
NET "fp_gpio2_b" LOC = T28;
NET "fp_gpio3_b" LOC = U29;
NET "fp_gpio4_b" LOC = V27;

NET "fpgpio1_a2b_o" LOC = R29;
NET "fpgpio2_a2b_o" LOC = T30;
NET "fpgpio34_a2b_o" LOC = V28;

NET "term_en1_o" LOC = AB1;
NET "term_en2_o" LOC = W5;
NET "term_en3_o" LOC = W4;
NET "term_en4_o" LOC = V4;

NET "fp_ledn0_o" LOC = AD27;
NET "fp_ledn1_o" LOC = AD26;
NET "fp_ledn2_o" LOC = AC28;
NET "fp_ledn3_o" LOC = AC27;
NET "fp_ledn4_o" LOC = AE27;
NET "fp_ledn5_o" LOC = AE30;
NET "fp_ledn6_o" LOC = AF28;
NET "fp_ledn7_o" LOC = AE28;

#----------------------------------------
# 1-wire thermoeter + unique ID
#----------------------------------------
NET "tempid_dq_b" LOC = AC30;

#----------------------------------------
# Debug LEDs
#----------------------------------------
NET "dbg_led4_n_o" LOC = U7;
NET "dbg_led3_n_o" LOC = AG1;
NET "dbg_led2_n_o" LOC = AF1;
NET "dbg_led1_n_o" LOC = R6;

#----------------------------------------
# Boot interface
#----------------------------------------
#NET "2v5_afpga_cclk" LOC = AJ26;
#NET "2v5_afpga_cso_b" LOC = AK6;
#NET "2v5_afpga_init_b" LOC = AJ6;
#NET "2v5_afpga_miso" LOC = AJ25;
#NET "2v5_afpga_mosi" LOC = AK25;
#NET "2v5_afpga_program" LOC = AB8;
#NET "afpga_done" LOC = AD25;
#NET "afpga_m0" LOC = AK26;
#NET "afpga_m1" LOC = AG24;

#----------------------------------------
# JTAG interface
#----------------------------------------
#NET "prog_tms" LOC = K25;
#NET "prog_tdi" LOC = J24;
#NET "prog_tck" LOC = H23;
#NET "prog_tdo" LOC = H25;


#===============================================================================
# IO Standard Constraints
#===============================================================================

#----------------------------------------
# VME interface
#----------------------------------------
NET "vme_write_n_i" IOSTANDARD = "LVCMOS33";
NET "vme_sysreset_n_i" IOSTANDARD = "LVCMOS33";
NET "vme_sysclk_i" IOSTANDARD = "LVCMOS33";
NET "vme_retry_oe_o" IOSTANDARD = "LVCMOS33";
NET "vme_retry_n_o" IOSTANDARD = "LVCMOS33";
NET "vme_lword_n_b" IOSTANDARD = "LVCMOS33";
NET "vme_iackout_n_o" IOSTANDARD = "LVCMOS33";
NET "vme_iackin_n_i" IOSTANDARD = "LVCMOS33";
NET "vme_iack_n_o" IOSTANDARD = "LVCMOS33";
NET "vme_gap_i" IOSTANDARD = "LVCMOS33";
NET "vme_dtack_oe_o" IOSTANDARD = "LVCMOS33";
NET "vme_dtack_n_o" IOSTANDARD = "LVCMOS33";
NET "vme_ds2_n_i" IOSTANDARD = "LVCMOS33";
NET "vme_ds1_n_i" IOSTANDARD = "LVCMOS33";
NET "vme_d_oe_n_o" IOSTANDARD = "LVCMOS33";
NET "vme_d_dir_o" IOSTANDARD = "LVCMOS33";
NET "vme_berr_o" IOSTANDARD = "LVCMOS33";
NET "vme_as_n_i" IOSTANDARD = "LVCMOS33";
NET "vme_a_oe_n_o" IOSTANDARD = "LVCMOS33";
NET "vme_a_dir_o" IOSTANDARD = "LVCMOS33";
NET "vme_irq7_o" IOSTANDARD = "LVCMOS33";
NET "vme_irq6_o" IOSTANDARD = "LVCMOS33";
NET "vme_irq5_o" IOSTANDARD = "LVCMOS33";
NET "vme_irq4_o" IOSTANDARD = "LVCMOS33";
NET "vme_irq3_o" IOSTANDARD = "LVCMOS33";
NET "vme_irq2_o" IOSTANDARD = "LVCMOS33";
NET "vme_irq1_o" IOSTANDARD = "LVCMOS33";
NET "vme_ga4_i" IOSTANDARD = "LVCMOS33";
NET "vme_ga3_i" IOSTANDARD = "LVCMOS33";
NET "vme_ga2_i" IOSTANDARD = "LVCMOS33";
NET "vme_ga1_i" IOSTANDARD = "LVCMOS33";
NET "vme_ga0_i" IOSTANDARD = "LVCMOS33";
NET "vme_d31_b" IOSTANDARD = "LVCMOS33";
NET "vme_d30_b" IOSTANDARD = "LVCMOS33";
NET "vme_d29_b" IOSTANDARD = "LVCMOS33";
NET "vme_d28_b" IOSTANDARD = "LVCMOS33";
NET "vme_d27_b" IOSTANDARD = "LVCMOS33";
NET "vme_d26_b" IOSTANDARD = "LVCMOS33";
NET "vme_d25_b" IOSTANDARD = "LVCMOS33";
NET "vme_d24_b" IOSTANDARD = "LVCMOS33";
NET "vme_d23_b" IOSTANDARD = "LVCMOS33";
NET "vme_d22_b" IOSTANDARD = "LVCMOS33";
NET "vme_d21_b" IOSTANDARD = "LVCMOS33";
NET "vme_d20_b" IOSTANDARD = "LVCMOS33";
NET "vme_d19_b" IOSTANDARD = "LVCMOS33";
NET "vme_d18_b" IOSTANDARD = "LVCMOS33";
NET "vme_d17_b" IOSTANDARD = "LVCMOS33";
NET "vme_d16_b" IOSTANDARD = "LVCMOS33";
NET "vme_d15_b" IOSTANDARD = "LVCMOS33";
NET "vme_d14_b" IOSTANDARD = "LVCMOS33";
NET "vme_d13_b" IOSTANDARD = "LVCMOS33";
NET "vme_d12_b" IOSTANDARD = "LVCMOS33";
NET "vme_d11_b" IOSTANDARD = "LVCMOS33";
NET "vme_d10_b" IOSTANDARD = "LVCMOS33";
NET "vme_d9_b" IOSTANDARD = "LVCMOS33";
NET "vme_d8_b" IOSTANDARD = "LVCMOS33";
NET "vme_d7_b" IOSTANDARD = "LVCMOS33";
NET "vme_d6_b" IOSTANDARD = "LVCMOS33";
NET "vme_d5_b" IOSTANDARD = "LVCMOS33";
NET "vme_d4_b" IOSTANDARD = "LVCMOS33";
NET "vme_d3_b" IOSTANDARD = "LVCMOS33";
NET "vme_d2_b" IOSTANDARD = "LVCMOS33";
NET "vme_d1_b" IOSTANDARD = "LVCMOS33";
NET "vme_d0_b" IOSTANDARD = "LVCMOS33";
NET "vme_am5_i" IOSTANDARD = "LVCMOS33";
NET "vme_am4_i" IOSTANDARD = "LVCMOS33";
NET "vme_am3_i" IOSTANDARD = "LVCMOS33";
NET "vme_am2_i" IOSTANDARD = "LVCMOS33";
NET "vme_am1_i" IOSTANDARD = "LVCMOS33";
NET "vme_am0_i" IOSTANDARD = "LVCMOS33";
NET "vme_a31_b" IOSTANDARD = "LVCMOS33";
NET "vme_a30_b" IOSTANDARD = "LVCMOS33";
NET "vme_a29_b" IOSTANDARD = "LVCMOS33";
NET "vme_a28_b" IOSTANDARD = "LVCMOS33";
NET "vme_a27_b" IOSTANDARD = "LVCMOS33";
NET "vme_a26_b" IOSTANDARD = "LVCMOS33";
NET "vme_a25_b" IOSTANDARD = "LVCMOS33";
NET "vme_a24_b" IOSTANDARD = "LVCMOS33";
NET "vme_a23_b" IOSTANDARD = "LVCMOS33";
NET "vme_a22_b" IOSTANDARD = "LVCMOS33";
NET "vme_a21_b" IOSTANDARD = "LVCMOS33";
NET "vme_a20_b" IOSTANDARD = "LVCMOS33";
NET "vme_a19_b" IOSTANDARD = "LVCMOS33";
NET "vme_a18_b" IOSTANDARD = "LVCMOS33";
NET "vme_a17_b" IOSTANDARD = "LVCMOS33";
NET "vme_a16_b" IOSTANDARD = "LVCMOS33";
NET "vme_a15_b" IOSTANDARD = "LVCMOS33";
NET "vme_a14_b" IOSTANDARD = "LVCMOS33";
NET "vme_a13_b" IOSTANDARD = "LVCMOS33";
NET "vme_a12_b" IOSTANDARD = "LVCMOS33";
NET "vme_a11_b" IOSTANDARD = "LVCMOS33";
NET "vme_a10_b" IOSTANDARD = "LVCMOS33";
NET "vme_a9_b" IOSTANDARD = "LVCMOS33";
NET "vme_a8_b" IOSTANDARD = "LVCMOS33";
NET "vme_a7_b" IOSTANDARD = "LVCMOS33";
NET "vme_a6_b" IOSTANDARD = "LVCMOS33";
NET "vme_a5_b" IOSTANDARD = "LVCMOS33";
NET "vme_a4_b" IOSTANDARD = "LVCMOS33";
NET "vme_a3_b" IOSTANDARD = "LVCMOS33";
NET "vme_a2_b" IOSTANDARD = "LVCMOS33";
NET "vme_a1_b" IOSTANDARD = "LVCMOS33";

#----------------------------------------
# Clock and reset inputs
#----------------------------------------
NET "rst_n_i" IOSTANDARD = "LVCMOS33";

NET "clk20_vcxo_i" IOSTANDARD = "LVCMOS33";
NET "fpga_clk_n_i" IOSTANDARD = "LVCMOS33";
NET "fpga_clk_p_i" IOSTANDARD = "LVCMOS33";
NET "si57x_clk_n_i" IOSTANDARD = "LVCMOS33";
NET "si57x_clk_p_i" IOSTANDARD = "LVCMOS33";
NET "pll_2afpga_n_i" IOSTANDARD = "LVCMOS33";
NET "pll_2afpga_p_i" IOSTANDARD = "LVCMOS33";

#----------------------------------------
# Switches and button
#----------------------------------------
NET "pushbutton_i" IOSTANDARD = "LVCMOS33";
NET "noga0_i" IOSTANDARD = "LVCMOS33";
NET "noga1_i" IOSTANDARD = "LVCMOS33";
NET "noga2_i" IOSTANDARD = "LVCMOS33";
NET "noga3_i" IOSTANDARD = "LVCMOS33";
NET "noga4_i" IOSTANDARD = "LVCMOS33";
NET "switch0_i" IOSTANDARD = "LVCMOS33";
NET "switch1_i" IOSTANDARD = "LVCMOS33";
NET "usega_i" IOSTANDARD = "LVCMOS33";

#----------------------------------------
# Inter-FPGA lines
#----------------------------------------
NET "rsvd0_b" IOSTANDARD = "LVCMOS33";
NET "rsvd1_b" IOSTANDARD = "LVCMOS33";
NET "rsvd2_b" IOSTANDARD = "LVCMOS33";
NET "rsvd3_b" IOSTANDARD = "LVCMOS33";
NET "rsvd4_b" IOSTANDARD = "LVCMOS33";
NET "rsvd5_b" IOSTANDARD = "LVCMOS33";
NET "rsvd6_b" IOSTANDARD = "LVCMOS33";
NET "rsvd7_b" IOSTANDARD = "LVCMOS33";

#----------------------------------------
# PCB revision
#----------------------------------------
NET "pcbrev4_i" IOSTANDARD = "LVCMOS25";
NET "pcbrev3_i" IOSTANDARD = "LVCMOS25";
NET "pcbrev2_i" IOSTANDARD = "LVCMOS25";
NET "pcbrev1_i" IOSTANDARD = "LVCMOS25";
NET "pcbrev0_i" IOSTANDARD = "LVCMOS25";

#----------------------------------------
# SFP slot
#----------------------------------------
NET "wr_los_i" IOSTANDARD = "LVCMOS33";
NET "wr_moddef0_i" IOSTANDARD = "LVCMOS33";
NET "wr_moddef1_o" IOSTANDARD = "LVCMOS33";
NET "wr_moddef2_b" IOSTANDARD = "LVCMOS33";
NET "wr_rateselect_o" IOSTANDARD = "LVCMOS33";
NET "wr_txdisable_o" IOSTANDARD = "LVCMOS33";
NET "wr_txfault_i" IOSTANDARD = "LVCMOS33";

#----------------------------------------
# Clock controls
#----------------------------------------\
NET "oe_si57x_o" IOSTANDARD = "LVCMOS33";
NET "si57x_scl_o" IOSTANDARD = "LVCMOS33";
NET "si57x_sda_b" IOSTANDARD = "LVCMOS33";
NET "si57x_tune_o" IOSTANDARD = "LVCMOS33";

NET "pll20dac_din_o" IOSTANDARD = "LVCMOS33";
NET "pll20dac_sclk_o" IOSTANDARD = "LVCMOS33";
NET "pll20dac_sync_n_o" IOSTANDARD = "LVCMOS33";
NET "pll25dac_din_o" IOSTANDARD = "LVCMOS33";
NET "pll25dac_sclk_o" IOSTANDARD = "LVCMOS33";
NET "pll25dac_sync_n_o" IOSTANDARD = "LVCMOS33";

#----------------------------------------
# UART
#----------------------------------------
NET "uart_rxd_o" IOSTANDARD = "LVCMOS33";
NET "uart_txd_i" IOSTANDARD = "LVCMOS33";

#----------------------------------------
# USB (optional)
#----------------------------------------
NET "usb_clkout_i" IOSTANDARD = "LVCMOS33";
NET "usb_oe_n_o" IOSTANDARD = "LVCMOS33";
NET "usb_rd_n_o" IOSTANDARD = "LVCMOS33";
NET "usb_rxf_n_i" IOSTANDARD = "LVCMOS33";
NET "usb_siwua_i" IOSTANDARD = "LVCMOS33";
NET "usb_txe_n_i" IOSTANDARD = "LVCMOS33";
NET "usb_wr_n_o" IOSTANDARD = "LVCMOS33";
NET "usb_d0_b" IOSTANDARD = "LVCMOS33";
NET "usb_d1_b" IOSTANDARD = "LVCMOS33";
NET "usb_d2_b" IOSTANDARD = "LVCMOS33";
NET "usb_d3_b" IOSTANDARD = "LVCMOS33";
NET "usb_d4_b" IOSTANDARD = "LVCMOS33";
NET "usb_d5_b" IOSTANDARD = "LVCMOS33";
NET "usb_d6_b" IOSTANDARD = "LVCMOS33";
NET "usb_d7_b" IOSTANDARD = "LVCMOS33";
NET "io7_i" IOSTANDARD = "LVCMOS33";

#----------------------------------------
# VME P2
#----------------------------------------
NET "p2_data_p19_b" IOSTANDARD = "LVCMOS25";
NET "p2_data_p18_b" IOSTANDARD = "LVCMOS25";
NET "p2_data_p17_b" IOSTANDARD = "LVCMOS25";
NET "p2_data_p16_b" IOSTANDARD = "LVCMOS25";
NET "p2_data_p15_b" IOSTANDARD = "LVCMOS25";
NET "p2_data_p14_b" IOSTANDARD = "LVCMOS25";
NET "p2_data_p13_b" IOSTANDARD = "LVCMOS25";
NET "p2_data_p12_b" IOSTANDARD = "LVCMOS25";
NET "p2_data_p11_b" IOSTANDARD = "LVCMOS25";
NET "p2_data_p10_b" IOSTANDARD = "LVCMOS25";
NET "p2_data_p9_b" IOSTANDARD = "LVCMOS25";
NET "p2_data_p8_b" IOSTANDARD = "LVCMOS25";
NET "p2_data_p7_b" IOSTANDARD = "LVCMOS25";
NET "p2_data_p6_b" IOSTANDARD = "LVCMOS25";
NET "p2_data_p5_b" IOSTANDARD = "LVCMOS25";
NET "p2_data_p4_b" IOSTANDARD = "LVCMOS25";
NET "p2_data_p3_b" IOSTANDARD = "LVCMOS25";
NET "p2_data_p2_b" IOSTANDARD = "LVCMOS25";
NET "p2_data_p1_b" IOSTANDARD = "LVCMOS25";
NET "p2_data_p0_b" IOSTANDARD = "LVCMOS25";
NET "p2_data_n19_b" IOSTANDARD = "LVCMOS25";
NET "p2_data_n18_b" IOSTANDARD = "LVCMOS25";
NET "p2_data_n17_b" IOSTANDARD = "LVCMOS25";
NET "p2_data_n16_b" IOSTANDARD = "LVCMOS25";
NET "p2_data_n15_b" IOSTANDARD = "LVCMOS25";
NET "p2_data_n14_b" IOSTANDARD = "LVCMOS25";
NET "p2_data_n13_b" IOSTANDARD = "LVCMOS25";
NET "p2_data_n12_b" IOSTANDARD = "LVCMOS25";
NET "p2_data_n11_b" IOSTANDARD = "LVCMOS25";
NET "p2_data_n10_b" IOSTANDARD = "LVCMOS25";
NET "p2_data_n9_b" IOSTANDARD = "LVCMOS25";
NET "p2_data_n8_b" IOSTANDARD = "LVCMOS25";
NET "p2_data_n7_b" IOSTANDARD = "LVCMOS25";
NET "p2_data_n6_b" IOSTANDARD = "LVCMOS25";
NET "p2_data_n5_b" IOSTANDARD = "LVCMOS25";
NET "p2_data_n4_b" IOSTANDARD = "LVCMOS25";
NET "p2_data_n3_b" IOSTANDARD = "LVCMOS25";
NET "p2_data_n2_b" IOSTANDARD = "LVCMOS25";
NET "p2_data_n1_b" IOSTANDARD = "LVCMOS25";
NET "p2_data_n0_b" IOSTANDARD = "LVCMOS25";

#----------------------------------------
# DDR3 (bank 4)
#----------------------------------------
NET "ddr_we_n_o" IOSTANDARD = "SSTL15_II";
NET "ddr_udqs_p_b" IOSTANDARD = "DIFF_SSTL15_II";
NET "ddr_udqs_n_b" IOSTANDARD = "DIFF_SSTL15_II";
NET "ddr_udm_o" IOSTANDARD = "SSTL15_II";
NET "ddr_reset_n_o" IOSTANDARD = "SSTL15_II";
NET "ddr_ras_n_o" IOSTANDARD = "SSTL15_II";
NET "ddr_odt_o" IOSTANDARD = "SSTL15_II";
NET "ddr_ldqs_p_b" IOSTANDARD = "DIFF_SSTL15_II";
NET "ddr_ldqs_n_b" IOSTANDARD = "DIFF_SSTL15_II";
NET "ddr_ldm_o" IOSTANDARD = "SSTL15_II";
NET "ddr_cke_o" IOSTANDARD = "SSTL15_II";
NET "ddr_ck_p_o" IOSTANDARD = "DIFF_SSTL15_II";
NET "ddr_ck_n_o" IOSTANDARD = "DIFF_SSTL15_II";
NET "ddr_cas_n_o" IOSTANDARD = "SSTL15_II";
NET "ddr_dq15_b" IOSTANDARD = "SSTL15_II";
NET "ddr_dq14_b" IOSTANDARD = "SSTL15_II";
NET "ddr_dq13_b" IOSTANDARD = "SSTL15_II";
NET "ddr_dq12_b" IOSTANDARD = "SSTL15_II";
NET "ddr_dq11_b" IOSTANDARD = "SSTL15_II";
NET "ddr_dq10_b" IOSTANDARD = "SSTL15_II";
NET "ddr_dq9_b" IOSTANDARD = "SSTL15_II";
NET "ddr_dq8_b" IOSTANDARD = "SSTL15_II";
NET "ddr_dq7_b" IOSTANDARD = "SSTL15_II";
NET "ddr_dq6_b" IOSTANDARD = "SSTL15_II";
NET "ddr_dq5_b" IOSTANDARD = "SSTL15_II";
NET "ddr_dq4_b" IOSTANDARD = "SSTL15_II";
NET "ddr_dq3_b" IOSTANDARD = "SSTL15_II";
NET "ddr_dq2_b" IOSTANDARD = "SSTL15_II";
NET "ddr_dq1_b" IOSTANDARD = "SSTL15_II";
NET "ddr_dq0_b" IOSTANDARD = "SSTL15_II";
NET "ddr_ba2_o" IOSTANDARD = "SSTL15_II";
NET "ddr_ba1_o" IOSTANDARD = "SSTL15_II";
NET "ddr_ba0_o" IOSTANDARD = "SSTL15_II";
NET "ddr_a14_o" IOSTANDARD = "SSTL15_II";
NET "ddr_a13_o" IOSTANDARD = "SSTL15_II";
NET "ddr_a12_o" IOSTANDARD = "SSTL15_II";
NET "ddr_a11_o" IOSTANDARD = "SSTL15_II";
NET "ddr_a10_o" IOSTANDARD = "SSTL15_II";
NET "ddr_a9_o" IOSTANDARD = "SSTL15_II";
NET "ddr_a8_o" IOSTANDARD = "SSTL15_II";
NET "ddr_a7_o" IOSTANDARD = "SSTL15_II";
NET "ddr_a6_o" IOSTANDARD = "SSTL15_II";
NET "ddr_a5_o" IOSTANDARD = "SSTL15_II";
NET "ddr_a4_o" IOSTANDARD = "SSTL15_II";
NET "ddr_a3_o" IOSTANDARD = "SSTL15_II";
NET "ddr_a2_o" IOSTANDARD = "SSTL15_II";
NET "ddr_a1_o" IOSTANDARD = "SSTL15_II";
NET "ddr_a0_o" IOSTANDARD = "SSTL15_II";

#----------------------------------------
# DDR3 (bank 5)
#----------------------------------------
NET "ddr_2_we_n_o" IOSTANDARD = "SSTL15_II";
NET "ddr_2_udqs_p_b" IOSTANDARD = "DIFF_SSTL15_II";
NET "ddr_2_udqs_n_b" IOSTANDARD = "DIFF_SSTL15_II";
NET "ddr_2_udm_o" IOSTANDARD = "SSTL15_II";
NET "ddr_2_reset_n_o" IOSTANDARD = "SSTL15_II";
NET "ddr_2_ras_n_o" IOSTANDARD = "SSTL15_II";
NET "ddr_2_odt_o" IOSTANDARD = "SSTL15_II";
NET "ddr_2_ldqs_p_b" IOSTANDARD = "DIFF_SSTL15_II";
NET "ddr_2_ldqs_n_b" IOSTANDARD = "DIFF_SSTL15_II";
NET "ddr_2_ldm_o" IOSTANDARD = "SSTL15_II";
NET "ddr_2_cke_o" IOSTANDARD = "SSTL15_II";
NET "ddr_2_ck_p_o" IOSTANDARD = "DIFF_SSTL15_II";
NET "ddr_2_ck_n_o" IOSTANDARD = "DIFF_SSTL15_II";
NET "ddr_2_cas_n_O" IOSTANDARD = "SSTL15_II";
NET "ddr_2_dq15_b" IOSTANDARD = "SSTL15_II";
NET "ddr_2_dq14_b" IOSTANDARD = "SSTL15_II";
NET "ddr_2_dq13_b" IOSTANDARD = "SSTL15_II";
NET "ddr_2_dq12_b" IOSTANDARD = "SSTL15_II";
NET "ddr_2_dq11_b" IOSTANDARD = "SSTL15_II";
NET "ddr_2_dq10_b" IOSTANDARD = "SSTL15_II";
NET "ddr_2_dq9_b" IOSTANDARD = "SSTL15_II";
NET "ddr_2_dq8_b" IOSTANDARD = "SSTL15_II";
NET "ddr_2_dq7_b" IOSTANDARD = "SSTL15_II";
NET "ddr_2_dq6_b" IOSTANDARD = "SSTL15_II";
NET "ddr_2_dq5_b" IOSTANDARD = "SSTL15_II";
NET "ddr_2_dq4_b" IOSTANDARD = "SSTL15_II";
NET "ddr_2_dq3_b" IOSTANDARD = "SSTL15_II";
NET "ddr_2_dq2_b" IOSTANDARD = "SSTL15_II";
NET "ddr_2_dq1_b" IOSTANDARD = "SSTL15_II";
NET "ddr_2_dq0_b" IOSTANDARD = "SSTL15_II";
NET "ddr_2_ba2_o" IOSTANDARD = "SSTL15_II";
NET "ddr_2_ba1_o" IOSTANDARD = "SSTL15_II";
NET "ddr_2_ba0_o" IOSTANDARD = "SSTL15_II";
NET "ddr_2_a14_o" IOSTANDARD = "SSTL15_II";
NET "ddr_2_a13_o" IOSTANDARD = "SSTL15_II";
NET "ddr_2_a12_o" IOSTANDARD = "SSTL15_II";
NET "ddr_2_a11_o" IOSTANDARD = "SSTL15_II";
NET "ddr_2_a10_o" IOSTANDARD = "SSTL15_II";
NET "ddr_2_a9_o" IOSTANDARD = "SSTL15_II";
NET "ddr_2_a8_o" IOSTANDARD = "SSTL15_II";
NET "ddr_2_a7_o" IOSTANDARD = "SSTL15_II";
NET "ddr_2_a6_o" IOSTANDARD = "SSTL15_II";
NET "ddr_2_a5_o" IOSTANDARD = "SSTL15_II";
NET "ddr_2_a4_o" IOSTANDARD = "SSTL15_II";
NET "ddr_2_a3_o" IOSTANDARD = "SSTL15_II";
NET "ddr_2_a2_o" IOSTANDARD = "SSTL15_II";
NET "ddr_2_a1_o" IOSTANDARD = "SSTL15_II";
NET "ddr_2_a0_o" IOSTANDARD = "SSTL15_II";

#----------------------------------------
# FMC slot 1
#----------------------------------------
NET "fmc1_pg_c2m_o" IOSTANDARD = "LVCMOS25";
NET "fmc1_prsntm2c_n_i" IOSTANDARD = "LVCMOS25";
NET "fmc1_scl_o" IOSTANDARD = "LVCMOS25";
NET "fmc1_sda_b" IOSTANDARD = "LVCMOS25";
NET "fmc1_tck_o" IOSTANDARD = "LVCMOS25";
NET "fmc1_tdi_i" IOSTANDARD = "LVCMOS25";
NET "fmc1_tdo_o" IOSTANDARD = "LVCMOS25";
NET "fmc1_tms_o" IOSTANDARD = "LVCMOS25";
NET "fmc1_clk1m2c_p_i" IOSTANDARD = "LVCMOS25";
NET "fmc1_clk1m2c_n_i" IOSTANDARD = "LVCMOS25";
NET "fmc1_clk0m2c_p_i" IOSTANDARD = "LVCMOS25";
NET "fmc1_clk0m2c_n_I" IOSTANDARD = "LVCMOS25";
NET "fmc1_la_p33_b" IOSTANDARD = "LVCMOS25";
NET "fmc1_la_p32_b" IOSTANDARD = "LVCMOS25";
NET "fmc1_la_p31_b" IOSTANDARD = "LVCMOS25";
NET "fmc1_la_p30_b" IOSTANDARD = "LVCMOS25";
NET "fmc1_la_p29_b" IOSTANDARD = "LVCMOS25";
NET "fmc1_la_p28_b" IOSTANDARD = "LVCMOS25";
NET "fmc1_la_p27_b" IOSTANDARD = "LVCMOS25";
NET "fmc1_la_p26_b" IOSTANDARD = "LVCMOS25";
NET "fmc1_la_p25_b" IOSTANDARD = "LVCMOS25";
NET "fmc1_la_p24_b" IOSTANDARD = "LVCMOS25";
NET "fmc1_la_p23_b" IOSTANDARD = "LVCMOS25";
NET "fmc1_la_p22_b" IOSTANDARD = "LVCMOS25";
NET "fmc1_la_p21_b" IOSTANDARD = "LVCMOS25";
NET "fmc1_la_p20_b" IOSTANDARD = "LVCMOS25";
NET "fmc1_la_p19_b" IOSTANDARD = "LVCMOS25";
NET "fmc1_la_p18_b" IOSTANDARD = "LVCMOS25";
NET "fmc1_la_p17_b" IOSTANDARD = "LVCMOS25";
NET "fmc1_la_p16_b" IOSTANDARD = "LVCMOS25";
NET "fmc1_la_p15_b" IOSTANDARD = "LVCMOS25";
NET "fmc1_la_p14_b" IOSTANDARD = "LVCMOS25";
NET "fmc1_la_p13_b" IOSTANDARD = "LVCMOS25";
NET "fmc1_la_p12_b" IOSTANDARD = "LVCMOS25";
NET "fmc1_la_p11_b" IOSTANDARD = "LVCMOS25";
NET "fmc1_la_p10_b" IOSTANDARD = "LVCMOS25";
NET "fmc1_la_p9_b" IOSTANDARD = "LVCMOS25";
NET "fmc1_la_p8_b" IOSTANDARD = "LVCMOS25";
NET "fmc1_la_p7_b" IOSTANDARD = "LVCMOS25";
NET "fmc1_la_p6_b" IOSTANDARD = "LVCMOS25";
NET "fmc1_la_p5_b" IOSTANDARD = "LVCMOS25";
NET "fmc1_la_p4_b" IOSTANDARD = "LVCMOS25";
NET "fmc1_la_p3_b" IOSTANDARD = "LVCMOS25";
NET "fmc1_la_p2_b" IOSTANDARD = "LVCMOS25";
NET "fmc1_la_p1_b" IOSTANDARD = "LVCMOS25";
NET "fmc1_la_p0_b" IOSTANDARD = "LVCMOS25";
NET "fmc1_la_n33_b" IOSTANDARD = "LVCMOS25";
NET "fmc1_la_n32_b" IOSTANDARD = "LVCMOS25";
NET "fmc1_la_n31_b" IOSTANDARD = "LVCMOS25";
NET "fmc1_la_n30_b" IOSTANDARD = "LVCMOS25";
NET "fmc1_la_n29_b" IOSTANDARD = "LVCMOS25";
NET "fmc1_la_n28_b" IOSTANDARD = "LVCMOS25";
NET "fmc1_la_n27_b" IOSTANDARD = "LVCMOS25";
NET "fmc1_la_n26_b" IOSTANDARD = "LVCMOS25";
NET "fmc1_la_n25_b" IOSTANDARD = "LVCMOS25";
NET "fmc1_la_n24_b" IOSTANDARD = "LVCMOS25";
NET "fmc1_la_n23_b" IOSTANDARD = "LVCMOS25";
NET "fmc1_la_n22_b" IOSTANDARD = "LVCMOS25";
NET "fmc1_la_n21_b" IOSTANDARD = "LVCMOS25";
NET "fmc1_la_n20_b" IOSTANDARD = "LVCMOS25";
NET "fmc1_la_n19_b" IOSTANDARD = "LVCMOS25";
NET "fmc1_la_n18_b" IOSTANDARD = "LVCMOS25";
NET "fmc1_la_n17_b" IOSTANDARD = "LVCMOS25";
NET "fmc1_la_n16_b" IOSTANDARD = "LVCMOS25";
NET "fmc1_la_n15_b" IOSTANDARD = "LVCMOS25";
NET "fmc1_la_n14_b" IOSTANDARD = "LVCMOS25";
NET "fmc1_la_n13_b" IOSTANDARD = "LVCMOS25";
NET "fmc1_la_n12_b" IOSTANDARD = "LVCMOS25";
NET "fmc1_la_n11_b" IOSTANDARD = "LVCMOS25";
NET "fmc1_la_n10_b" IOSTANDARD = "LVCMOS25";
NET "fmc1_la_n9_b" IOSTANDARD = "LVCMOS25";
NET "fmc1_la_n8_b" IOSTANDARD = "LVCMOS25";
NET "fmc1_la_n7_b" IOSTANDARD = "LVCMOS25";
NET "fmc1_la_n6_b" IOSTANDARD = "LVCMOS25";
NET "fmc1_la_n5_b" IOSTANDARD = "LVCMOS25";
NET "fmc1_la_n4_b" IOSTANDARD = "LVCMOS25";
NET "fmc1_la_n3_b" IOSTANDARD = "LVCMOS25";
NET "fmc1_la_n2_b" IOSTANDARD = "LVCMOS25";
NET "fmc1_la_n1_b" IOSTANDARD = "LVCMOS25";
NET "fmc1_la_n0_b" IOSTANDARD = "LVCMOS25";

#----------------------------------------
# FMC slot 2
#----------------------------------------
NET "fmc2_pg_c2m_o" IOSTANDARD = "LVCMOS25";
NET "fmc2_prsntm2c_n_i" IOSTANDARD = "LVCMOS25";
NET "fmc2_scl_o" IOSTANDARD = "LVCMOS25";
NET "fmc2_sda_b" IOSTANDARD = "LVCMOS25";
NET "fmc2_tck_o" IOSTANDARD = "LVCMOS25";
NET "fmc2_tdi_i" IOSTANDARD = "LVCMOS25";
NET "fmc2_tdo_o" IOSTANDARD = "LVCMOS25";
NET "fmc2_tms_o" IOSTANDARD = "LVCMOS25";
NET "fmc2_clk1m2c_p_i" IOSTANDARD = "LVCMOS25";
NET "fmc2_clk1m2c_n_i" IOSTANDARD = "LVCMOS25";
NET "fmc2_clk0m2c_p_i" IOSTANDARD = "LVCMOS25";
NET "fmc2_clk0m2c_n_i" IOSTANDARD = "LVCMOS25";
NET "fmc2_la_p33_b" IOSTANDARD = "LVCMOS25";
NET "fmc2_la_p32_b" IOSTANDARD = "LVCMOS25";
NET "fmc2_la_p31_b" IOSTANDARD = "LVCMOS25";
NET "fmc2_la_p30_b" IOSTANDARD = "LVCMOS25";
NET "fmc2_la_p29_b" IOSTANDARD = "LVCMOS25";
NET "fmc2_la_p28_b" IOSTANDARD = "LVCMOS25";
NET "fmc2_la_p27_b" IOSTANDARD = "LVCMOS25";
NET "fmc2_la_p26_b" IOSTANDARD = "LVCMOS25";
NET "fmc2_la_p25_b" IOSTANDARD = "LVCMOS25";
NET "fmc2_la_p24_b" IOSTANDARD = "LVCMOS25";
NET "fmc2_la_p23_b" IOSTANDARD = "LVCMOS25";
NET "fmc2_la_p22_b" IOSTANDARD = "LVCMOS25";
NET "fmc2_la_p21_b" IOSTANDARD = "LVCMOS25";
NET "fmc2_la_p20_b" IOSTANDARD = "LVCMOS25";
NET "fmc2_la_p19_b" IOSTANDARD = "LVCMOS25";
NET "fmc2_la_p18_b" IOSTANDARD = "LVCMOS25";
NET "fmc2_la_p17_b" IOSTANDARD = "LVCMOS25";
NET "fmc2_la_p16_b" IOSTANDARD = "LVCMOS25";
NET "fmc2_la_p15_b" IOSTANDARD = "LVCMOS25";
NET "fmc2_la_p14_b" IOSTANDARD = "LVCMOS25";
NET "fmc2_la_p13_b" IOSTANDARD = "LVCMOS25";
NET "fmc2_la_p12_b" IOSTANDARD = "LVCMOS25";
NET "fmc2_la_p11_b" IOSTANDARD = "LVCMOS25";
NET "fmc2_la_p10_b" IOSTANDARD = "LVCMOS25";
NET "fmc2_la_p9_b" IOSTANDARD = "LVCMOS25";
NET "fmc2_la_p8_b" IOSTANDARD = "LVCMOS25";
NET "fmc2_la_p7_b" IOSTANDARD = "LVCMOS25";
NET "fmc2_la_p6_b" IOSTANDARD = "LVCMOS25";
NET "fmc2_la_p5_b" IOSTANDARD = "LVCMOS25";
NET "fmc2_la_p4_b" IOSTANDARD = "LVCMOS25";
NET "fmc2_la_p3_b" IOSTANDARD = "LVCMOS25";
NET "fmc2_la_p2_b" IOSTANDARD = "LVCMOS25";
NET "fmc2_la_p1_b" IOSTANDARD = "LVCMOS25";
NET "fmc2_la_p0_b" IOSTANDARD = "LVCMOS25";
NET "fmc2_la_n33_b" IOSTANDARD = "LVCMOS25";
NET "fmc2_la_n32_b" IOSTANDARD = "LVCMOS25";
NET "fmc2_la_n31_b" IOSTANDARD = "LVCMOS25";
NET "fmc2_la_n30_b" IOSTANDARD = "LVCMOS25";
NET "fmc2_la_n29_b" IOSTANDARD = "LVCMOS25";
NET "fmc2_la_n28_b" IOSTANDARD = "LVCMOS25";
NET "fmc2_la_n27_b" IOSTANDARD = "LVCMOS25";
NET "fmc2_la_n26_b" IOSTANDARD = "LVCMOS25";
NET "fmc2_la_n25_b" IOSTANDARD = "LVCMOS25";
NET "fmc2_la_n24_b" IOSTANDARD = "LVCMOS25";
NET "fmc2_la_n23_b" IOSTANDARD = "LVCMOS25";
NET "fmc2_la_n22_b" IOSTANDARD = "LVCMOS25";
NET "fmc2_la_n21_b" IOSTANDARD = "LVCMOS25";
NET "fmc2_la_n20_b" IOSTANDARD = "LVCMOS25";
NET "fmc2_la_n19_b" IOSTANDARD = "LVCMOS25";
NET "fmc2_la_n18_b" IOSTANDARD = "LVCMOS25";
NET "fmc2_la_n17_b" IOSTANDARD = "LVCMOS25";
NET "fmc2_la_n16_b" IOSTANDARD = "LVCMOS25";
NET "fmc2_la_n15_b" IOSTANDARD = "LVCMOS25";
NET "fmc2_la_n14_b" IOSTANDARD = "LVCMOS25";
NET "fmc2_la_n13_b" IOSTANDARD = "LVCMOS25";
NET "fmc2_la_n12_b" IOSTANDARD = "LVCMOS25";
NET "fmc2_la_n11_b" IOSTANDARD = "LVCMOS25";
NET "fmc2_la_n10_b" IOSTANDARD = "LVCMOS25";
NET "fmc2_la_n9_b" IOSTANDARD = "LVCMOS25";
NET "fmc2_la_n8_b" IOSTANDARD = "LVCMOS25";
NET "fmc2_la_n7_b" IOSTANDARD = "LVCMOS25";
NET "fmc2_la_n6_b" IOSTANDARD = "LVCMOS25";
NET "fmc2_la_n5_b" IOSTANDARD = "LVCMOS25";
NET "fmc2_la_n4_b" IOSTANDARD = "LVCMOS25";
NET "fmc2_la_n3_b" IOSTANDARD = "LVCMOS25";
NET "fmc2_la_n2_b" IOSTANDARD = "LVCMOS25";
NET "fmc2_la_n1_b" IOSTANDARD = "LVCMOS25";
NET "fmc2_la_n0_b" IOSTANDARD = "LVCMOS25";

#----------------------------------------
# I2C EEPROM
#----------------------------------------
NET "scl_afpga_o" IOSTANDARD = "LVCMOS33";
NET "sda_afpga_b" IOSTANDARD = "LVCMOS33";

#----------------------------------------
# Front panel IO and LEDs
#----------------------------------------
NET "fp_gpio1_b" IOSTANDARD = "LVCMOS33";
NET "fp_gpio2_b" IOSTANDARD = "LVCMOS33";
NET "fp_gpio3_b" IOSTANDARD = "LVCMOS33";
NET "fp_gpio4_b" IOSTANDARD = "LVCMOS33";

NET "fpgpio1_a2b_o" IOSTANDARD = "LVCMOS33";
NET "fpgpio2_a2b_o" IOSTANDARD = "LVCMOS33";
NET "fpgpio34_a2b_o" IOSTANDARD = "LVCMOS33";

NET "term_en1_o" IOSTANDARD = "LVCMOS33";
NET "term_en2_o" IOSTANDARD = "LVCMOS33";
NET "term_en3_o" IOSTANDARD = "LVCMOS33";
NET "term_en4_o" IOSTANDARD = "LVCMOS33";

NET "fp_ledn0_o" IOSTANDARD = "LVCMOS33";
NET "fp_ledn1_o" IOSTANDARD = "LVCMOS33";
NET "fp_ledn2_o" IOSTANDARD = "LVCMOS33";
NET "fp_ledn3_o" IOSTANDARD = "LVCMOS33";
NET "fp_ledn4_o" IOSTANDARD = "LVCMOS33";
NET "fp_ledn5_o" IOSTANDARD = "LVCMOS33";
NET "fp_ledn6_o" IOSTANDARD = "LVCMOS33";
NET "fp_ledn7_o" IOSTANDARD = "LVCMOS33";

#----------------------------------------
# 1-wire thermoeter + unique ID
#----------------------------------------
NET "tempid_dq_b" IOSTANDARD = "LVCMOS33";

#----------------------------------------
# Debug LEDs
#----------------------------------------
NET "dbg_led4_n_o" IOSTANDARD = "LVCMOS33";
NET "dbg_led3_n_o" IOSTANDARD = "LVCMOS33";
NET "dbg_led2_n_o" IOSTANDARD = "LVCMOS33";
NET "dbg_led1_n_o" IOSTANDARD = "LVCMOS33";

#----------------------------------------
# Boot interface
#----------------------------------------
#NET "2v5_afpga_cclk" IOSTANDARD = "LVCMOS25";
#NET "2v5_afpga_cso_b" IOSTANDARD = "LVCMOS25";
#NET "2v5_afpga_init_b" IOSTANDARD = "LVCMOS25";
#NET "2v5_afpga_miso" IOSTANDARD = "LVCMOS25";
#NET "2v5_afpga_mosi" IOSTANDARD = "LVCMOS25";
#NET "2v5_afpga_program" IOSTANDARD = "LVCMOS25";
#NET "afpga_done" IOSTANDARD = "LVCMOS25";
#NET "afpga_m0" IOSTANDARD = "LVCMOS25";
#NET "afpga_m1" IOSTANDARD = "LVCMOS25";

#----------------------------------------
# JTAG interface
#----------------------------------------
#NET "prog_tms" IOSTANDARD = "LVCMOS33";
#NET "prog_tdi" IOSTANDARD = "LVCMOS33";
#NET "prog_tck" IOSTANDARD = "LVCMOS33";
#NET "prog_tdo" IOSTANDARD = "LVCMOS33";