# SPDX-FileCopyrightText: 2022 CERN (home.cern)
#
# SPDX-License-Identifier: CERN-OHL-W-2.0+

#----------------------------------------
# Front panel LEDs
#----------------------------------------
NET "fp_led_line_oen_o[0]" LOC = AD26;
NET "fp_led_line_oen_o[1]" LOC = AD27;
NET "fp_led_line_o[0]"     LOC = AC27;
NET "fp_led_line_o[1]"     LOC = AC28;
NET "fp_led_column_o[0]"   LOC = AE30;
NET "fp_led_column_o[1]"   LOC = AE27;
NET "fp_led_column_o[2]"   LOC = AE28;
NET "fp_led_column_o[3]"   LOC = AF28;

NET "fp_led_line_oen_o[*]" IOSTANDARD="LVCMOS33";
NET "fp_led_line_o[*]"     IOSTANDARD="LVCMOS33";
NET "fp_led_column_o[*]"   IOSTANDARD="LVCMOS33";
