# DDR0 (bank 4)
NET "ddr4_rzq_b"     LOC = L7;
NET "ddr4_we_n_o"    LOC = F4;
NET "ddr4_udqs_p_b"  LOC = K2;
NET "ddr4_udqs_n_b"  LOC = K1;
NET "ddr4_udm_o"     LOC = K4;
NET "ddr4_reset_n_o" LOC = G5;
NET "ddr4_ras_n_o"   LOC = C1;
NET "ddr4_odt_o"     LOC = E4;
NET "ddr4_ldqs_p_b"  LOC = J5;
NET "ddr4_ldqs_n_b"  LOC = J4;
NET "ddr4_ldm_o"     LOC = K3;
NET "ddr4_cke_o"     LOC = C4;
NET "ddr4_ck_p_o"    LOC = E3;
NET "ddr4_ck_n_o"    LOC = E1;
NET "ddr4_cas_n_o"   LOC = B1;
NET "ddr4_dq_b[15]"     LOC = M1;
NET "ddr4_dq_b[14]"     LOC = M2;
NET "ddr4_dq_b[13]"     LOC = L1;
NET "ddr4_dq_b[12]"     LOC = L3;
NET "ddr4_dq_b[11]"     LOC = L4;
NET "ddr4_dq_b[10]"     LOC = L5;
NET "ddr4_dq_b[9]"      LOC = M3;
NET "ddr4_dq_b[8]"      LOC = M4;
NET "ddr4_dq_b[7]"      LOC = H1;
NET "ddr4_dq_b[6]"      LOC = H2;
NET "ddr4_dq_b[5]"      LOC = G1;
NET "ddr4_dq_b[4]"      LOC = G3;
NET "ddr4_dq_b[3]"      LOC = J1;
NET "ddr4_dq_b[2]"      LOC = J3;
NET "ddr4_dq_b[1]"      LOC = H3;
NET "ddr4_dq_b[0]"      LOC = H4;
NET "ddr4_ba_o[2]"      LOC = F3;
NET "ddr4_ba_o[1]"      LOC = D1;
NET "ddr4_ba_o[0]"      LOC = D2;
NET "ddr4_a_o[13]"      LOC = B5;
NET "ddr4_a_o[12]"      LOC = A4;
NET "ddr4_a_o[11]"      LOC = G4;
NET "ddr4_a_o[10]"      LOC = D5;
NET "ddr4_a_o[9]"       LOC = A2;
NET "ddr4_a_o[8]"       LOC = B2;
NET "ddr4_a_o[7]"       LOC = B3;
NET "ddr4_a_o[6]"       LOC = F1;
NET "ddr4_a_o[5]"       LOC = F2;
NET "ddr4_a_o[4]"       LOC = C5;
NET "ddr4_a_o[3]"       LOC = E5;
NET "ddr4_a_o[2]"       LOC = A3;
NET "ddr4_a_o[1]"       LOC = D3;
NET "ddr4_a_o[0]"       LOC = D4;

# DDR IO standards and terminations
NET "ddr4_udqs_p_b"  IOSTANDARD = "DIFF_SSTL15_II";
NET "ddr4_udqs_n_b"  IOSTANDARD = "DIFF_SSTL15_II";
NET "ddr4_ldqs_p_b"  IOSTANDARD = "DIFF_SSTL15_II";
NET "ddr4_ldqs_n_b"  IOSTANDARD = "DIFF_SSTL15_II";
NET "ddr4_ck_p_o"    IOSTANDARD = "DIFF_SSTL15_II";
NET "ddr4_ck_n_o"    IOSTANDARD = "DIFF_SSTL15_II";
NET "ddr4_rzq_b"     IOSTANDARD = "SSTL15_II";
NET "ddr4_we_n_o"    IOSTANDARD = "SSTL15_II";
NET "ddr4_udm_o"     IOSTANDARD = "SSTL15_II";
NET "ddr4_reset_n_o" IOSTANDARD = "SSTL15_II";
NET "ddr4_ras_n_o"   IOSTANDARD = "SSTL15_II";
NET "ddr4_odt_o"     IOSTANDARD = "SSTL15_II";
NET "ddr4_ldm_o"     IOSTANDARD = "SSTL15_II";
NET "ddr4_cke_o"     IOSTANDARD = "SSTL15_II";
NET "ddr4_cas_n_o"   IOSTANDARD = "SSTL15_II";
NET "ddr4_dq_b[*]"      IOSTANDARD = "SSTL15_II";
NET "ddr4_ba_o[*]"      IOSTANDARD = "SSTL15_II";
NET "ddr4_a_o[*]"       IOSTANDARD = "SSTL15_II";

NET "ddr4_dq_b[*]"  IN_TERM = NONE;
NET "ddr4_ldqs_p_b" IN_TERM = NONE;
NET "ddr4_ldqs_n_b" IN_TERM = NONE;
NET "ddr4_udqs_p_b" IN_TERM = NONE;
NET "ddr4_udqs_n_b" IN_TERM = NONE;
