#----------------------------------------
# Front panel IOs
#----------------------------------------
NET "fp_gpio1_b"      LOC = T28;
NET "fp_gpio2_b"      LOC = R30;
NET "fp_gpio3_b"      LOC = V27;
NET "fp_gpio4_b"      LOC = U29;
NET "fp_gpio1_a2b_o"  LOC = T30;
NET "fp_gpio2_a2b_o"  LOC = R29;
NET "fp_gpio34_a2b_o" LOC = V28;
NET "fp_term_en_o[1]" LOC = AB1;
NET "fp_term_en_o[2]" LOC = W5;
NET "fp_term_en_o[3]" LOC = W4;
NET "fp_term_en_o[4]" LOC = V4;

NET "fp_gpio1_b"      IOSTANDARD = "LVCMOS33";
NET "fp_gpio2_b"      IOSTANDARD = "LVCMOS33";
NET "fp_gpio3_b"      IOSTANDARD = "LVCMOS33";
NET "fp_gpio4_b"      IOSTANDARD = "LVCMOS33";
NET "fp_gpio1_a2b_o"  IOSTANDARD = "LVCMOS33";
NET "fp_gpio2_a2b_o"  IOSTANDARD = "LVCMOS33";
NET "fp_gpio34_a2b_o" IOSTANDARD = "LVCMOS33";
NET "fp_term_en_o[*]" IOSTANDARD = "LVCMOS33";
